
<!DOCTYPE html>
<html>
    <head>

        <title>Oops - Repos.io</title>
        <link href="/static/css/jquery.jgrowl-1.2.5.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/static/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/static/css/print.css" media="print" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width" />
        <!--[if IE]>
            <link href="/static//css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->

        <script type="text/javascript">
            window.onerror = function(message, url, linenumber) {
                  alert("Alpha mode, please send this to s.angel@twidi.com: JS error: " + message + " on line " + linenumber + " for " + url);
            };
        </script>
        <script src="/static/js/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/jquery.history.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/jquery.unserialize.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/jquery.tinysort.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/jquery.jgrowl.min-1.2.5.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/classy.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/crc32.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/cookie.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/jquery.iframe-auto-height.plugin.1.6.0.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/reposio.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
            window.Reposio = window.Reposio || {};
            Reposio.Token = "e6338e676de38e607c2ea8acc3eb1163";
            Reposio.section = "accounts";
            Reposio.subsection = "manage";
            Reposio.urls = {
                login: "/accounts/login/",
                logout: "/accounts/logout/",
                manage: "/accounts/manage/"
            };
            Reposio.UserTags = null;
        </script>

    </head>
    <body class="accounts">
        <header id="header">
            <hgroup id="main-header">
                <h1><a href="/">Repos.io</a></h1>
                <h2>Search and manage code repositories</h2>
            </hgroup>
            <ul id="about-links">
                <li>Full search
                    <span>
                        <em>Need something ?</em>
                        You can search repositories and people on many providers (github, bitbucket...) via a full text index
                    </span>
                </li><li>Regroup by project &amp; place
                    <span>
                        <em>Lot of work ?</em>
                        Projects and places (simple labels) are here to kept you organized by regrouping repositories and people
                    </span>
                </li><li>Add private tags &amp; notes
                    <span>
                        <em>Keep traces ?</em>
                        You can add as private tags as wanted to keep your stuff organized. And you can add a note on every project or user to keep trace of why it's interesting
                    </span>
                </li><!--li>Follow/unfollow
                    <span>
                        <em>Stop losing time</em>
                        You can follow or unfollow project or people on a provider (github, bitbucket...) directly on Repos.io
                    </span>
                </li--><li>Discover stuff
                    <span>
                        <em>Want more ?</em>
                        Repos.io help you find interesting stuff with it's "more like this" functionnality. Click on these links to discover more !
                    </span>
                </li><li>More soon !
                    <span>
                        <em>We're working</em>
                        We are currently working on adding functionnalities and supported backend. Stay tuned !
                    </span>
                </li>
            </ul>
        </header>
        <section>

<section id="manage" class="main_box">

    <header class="main_header">
        <h1>Hu ho...</h1>
    </header>

    <section class="content_box">

        <p>Ooops, something went wrong on our side :(</p>

    </section>
</section>

        </section>
        <footer>
        </footer>

        <div id="overlay"></div>
    </body>
</html>
