<!DOCTYPE html>
    <html lang="en">

<head>
    <meta charset="utf-8">
    <title>Organize my Repositories</title>
    <meta name="description" content="Organize your owned/watched repositories from github (and soon bitbucked, google code) : https://github.com/twidi/OrganizeMyRepositories/">
    <meta name="author" content="Stephane Angel / Twidi">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-1.2.0.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/project.css">
    <script src="{{ STATIC_URL }}js/jquery-1.5.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/project.js"></script>
</head>

<body>

<div class="topbar">
    <div class="topbar-inner">
        <div class="container-fluid">

            <h3><a href="/">Organize my Repositories</a></h3>

            <ul class="nav">
                <li{% if section == 'home' %} class="active"{% endif %}><a href="/">Home</a></li>
                <li><a href="http://github.com/twidi/OrganizeMyRepositories/">About</a></li>
            </ul>

            <ul class="nav secondary-nav">

                {% if user.is_authenticated %}
                    <li><a href="{% url accounts_manage %}">Logged as {{ user.username }}</a></li>
                    {% with accounts=user.accounts.all %}
                        {% if accounts %}
                            <li class='dropdown{% if section == 'accounts' %} active{% endif %}'>
                                <a href="{% url accounts_manage %}" class="dropdown-toggle">Your accounts</a>
                                <ul class="dropdown-menu">
                                    {% for an_account in accounts %}
                                    <li{% if section == 'user' and account.id == an_account.id %} class="active"{% endif %}>{% include "core/accounts/link.html" with account=an_account%}</li>
                                    {% endfor %}
                                    <li class="divider"></li>
                                    <li><a href="{% url accounts_manage %}">Manage</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{% url accounts_manage %}" class="dropdown-toggle">Your accounts</a></li>
                        {% endif %}
                    {% endwith %}
                    <li><a href="{% url accounts_logout %}?next=/">Logout</a></li>
                {% else %}
                    <li><a href="{% url accounts_login %}?next=/">Login / Register</a></li>
                {% endif %}

            </ul>

        </div>
    </div>
</div>

<div class="container">

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="alert-message {% if message.tags %}{{ message.tags }}{% else %}info{% endif %}"><a href='#' class='close'>&times;</a><p>{{ message }}</p></li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}{% endblock %}

</div></body></html>
