{% extends "base.html" %}
{% block content %}

<div class="row">

<div class="span5 column">
    {% if user.is_authenticated %}
        <h1>Welcome <em>{{ user.username }} </em>!</h1>

        {% with accounts=user.accounts.all %}

            {% if not accounts %}
                <p>You have no account associated.</p>
                <p><a class="btn primary large" href="{% url accounts_manage %}">Associate your account</a></p>
            {% else %}
                <p>Start by visiting on of your accounts :</p>
                <ul>
                    {% for account in accounts %}
                        <li>{% include "core/accounts/link.html" %}</li>
                    {% endfor %}
                </ul>
                <p><a class="btn" href="{% url accounts_manage %}">Manage your accounts</a></p>
            {% endif %}

        {% endwith %}

    {% else %}

        <h1>Welcome !</h1>
        <p>You need to be authenticated to use our site.</p>
        <p><a class="btn primary large" href="{% url accounts_login %}">Authenticate with a provider</a></p>

    {% endif %}

</div>
<div class="span4 column">

    {% with accounts_manager.get_last_fetched as last_accounts %}
        {% if last_accounts %}
            <h2>Last 20 users</h2>
            <table class="simple-content">
                <tbody>
                    {% for an_account in last_accounts %}
                    <tr>
                        <td>
                            {% include "core/accounts/avatar.html" with account=an_account size=16 %}
                            {% include "core/accounts/link.html" with account=an_account %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endwith %}

</div>
<div class="span7 column">

    {% with repositories_manager.get_last_fetched as last_repositories %}
        {% if last_repositories %}
            <h2>Last 20 repositories</h2>
            <table class="simple-content">
                <tbody>
                    {% for a_repository in last_repositories %}
                    <tr>
                        <td>
                            {% include "core/repositories/logo.html" with repository=a_repository size=16 %}
                            {% include "core/repositories/link.html" with repository=a_repository no_owner=1 %}
                            <small>by {% include "core/accounts/link.html" with account=a_repository.owner no_backend=1 %}</small>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endwith %}

</div>
</div>

{% endblock content %}
