{% load i18n adminmedia admin_modify%}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANGUAGE_CODE|default:"en-us"}}" xml:lang="{{LANGUAGE_CODE|default:"en-us"}}" {%if LANGUAGE_BIDI%}dir="rtl"{%endif%}>
<head>
<title>{{title}} | Django site admin</title>
<link rel="stylesheet" type="text/css" href="{%admin_media_prefix %}css/base.css" />
<link rel="stylesheet" type="text/css" href="{%admin_media_prefix %}css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{%admin_media_prefix %}css/ie.css" /><![endif]-->
{%if LANGUAGE_BIDI%}<link rel="stylesheet" type="text/css" href="{%admin_media_prefix %}css/rtl.css" />{%endif%}
<script type="text/javascript">window.__admin_media_prefix__ = "{%filter escapejs %}{%admin_media_prefix %}{%endfilter %}";</script>

{%url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{jsi18nurl|default:"../../../../jsi18n/"}}"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="{%if is_popup%}popup {%endif%}{{opts.app_label}}-{{opts.object_name.lower}} change-form">

<!-- Container -->
<div id="container">

    {%if not is_popup%}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name">Django administration</h1>

        </div>
        {%if user.is_active and user.is_staff%}
        <div id="user-tools">
            Welcome,
            <strong>{%filter force_escape %}{%firstof user.first_name user.username %}{%endfilter %}</strong>.
            
                {%url 'django-admindocs-docroot' as docsroot %}
                {%if docsroot%}
                    <a href="{{docsroot}}">Documentation</a> /
                {%endif%}
                {%url 'admin:password_change' as password_change_url %}
                {%if password_change_url%}
                    <a href="{{password_change_url}}">
                {%else%}
                    <a href="{{root_path}}password_change/">
                {%endif%}
                Change password</a> /
                {%url 'admin:logout' as logout_url %}
                {%if logout_url%}
                    <a href="{{logout_url}}">
                {%else%}
                    <a href="{{root_path}}logout/">
                {%endif%}
                Log out</a>
            
        </div>
        {%endif%}
        
    </div>
    <!-- END Header -->
    {%if not is_popup%}
<div class="breadcrumbs">
     <a href="../../../../">Home</a> &rsaquo;
     <a href="../../../">{{opts.app_label|capfirst|escape}}</a> &rsaquo;
     <a href="../../">{{opts.verbose_name_plural|capfirst}}</a> &rsaquo;
     <a href="../">{{original|truncatewords:"18"}}</a> &rsaquo;
     Change password
</div>
{%endif%}
    {%endif%}

        {%if messages%}
        <ul class="messagelist">{%for message in messages %}
          <li{%if message.tags%} class="{{message.tags}}"{%endif%}>{{message}}</li>
	{%endfor %}</ul>
        {%endif%}

    <!-- Content -->
    <div id="content" class="colM">
        
        {%if title%}<h1>{{title}}</h1>{%endif%}
        <div id="content-main">
<form action="{{form_url}}" method="post" id="{{opts.module_name}}_form">{%csrf_token %}
<div>
{%if is_popup%}<input type="hidden" name="_popup" value="1" />{%endif%}
{%if form.errors%}
    <p class="errornote">
    {%with form.errors.items|length as counter%}{%if counter > 1%}Please correct the errors below.{%else%}Please correct the error below.{%endif%}{%endwith%}
    </p>
{%endif%}

<p>{%with original.username as username%}Enter a new password for the user <strong>{{username}}</strong>.{%endwith%}</p>

<fieldset class="module aligned">

<div class="form-row">
  {{form.password1.errors}}
  
  <label for="id_password1" class="required">Password:</label> {{form.password1}}
</div>

<div class="form-row">
  {{form.password2.errors}}
  
  <label for="id_password2" class="required">Password (again):</label> {{form.password2}}
  <p class="help">Enter the same password as above, for verification.</p>
</div>

</fieldset>

<div class="submit-row">
<input type="submit" value="Change password" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_password1").focus();</script>
</div>
</form></div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
