django==1.3

# django tools
django-extensions

# python tools
debug

# django apps
-e git+git://github.com/twidi/django-favorites.git#egg=django-favorites

# registration/providers
#django-social-auth (a bug in the github implementation : https://github.com/omab/django-social-auth/pull/135
-e git+git://github.com/twidi/django-social-auth.git#egg=django-social-auth
