{% if edit_object %}
<div id="extra-editor" class="modal">
    <header class="modal-header">
        <a class="close" href="{{ when_finished }}">&times;</a>
        <h3>
            Your privates notes about <a href="{{ edit_object.get_absolute_url }}" title="{{ edit_object.description|default:edit_object.name }}">{{ edit_object.project|default:edit_object.slug }}</a>
            <small> - All on this window is private to you !</small>
        </h3>
    </header>

    <section class="modal-body">

        {# part of the window to edit private note #}
        <div id="note-form">
            <header>
                <h3>Note:</h3>
                {# form to clear the note #}
                {% if note_delete_form %}
                    <form action="{% url note_delete %}" method="POST" id="note-delete-form">{% csrf_token %}
                        {{ note_delete_form.as_p }}
                        <input type="hidden" name="edit_url" value="{{ edit_url }}" />
                        <input type="hidden" name="when_finished" value="{{ when_finished }}" />
                        (<input class="reset-button" type="submit" name="submit" value="clear" />)
                    </form>
                {% endif %}
            </header>
            {# form to edit the note #}
            <form action="{% url note_save %}" method="POST" id="note-save-form" class="form-stacked">{% csrf_token %}
                {{ note_save_form.as_p }}
                <input type="hidden" name="edit_url" value="{{ edit_url }}" />
                <input type="hidden" name="when_finished" value="{{ when_finished }}" />
                <input class="btn primary" type="submit" name="submit" value="Save" />
                <input class="btn" type="submit" name="submit-close" value="Save and close" />
            </form>
        </div>{# /note-form #}<!--

        {# part of the window to edit private tags #}
        --><div id="tags-form">
            {% url tags_save as tags_save_url %}
                <header>
                    <h3>Tags:</h3>
                    {# form to clear all tags #}
                    {% if tags_delete_form %}
                        <form action="{% url tags_delete %}" method="POST" id="tags-delete-form">{% csrf_token %}
                            {{ tags_delete_form.as_p }}
                            <input type="hidden" name="edit_url" value="{{ edit_url }}" />
                            <input type="hidden" name="when_finished" value="{{ when_finished }}" />
                            (<input class="reset-button" type="submit" name="submit" value="clear" />)
                        </form>
                    {% endif %}
                </header>

                <div>
                    {# existing tags that can be removed #}
                    {% if private_tags %}
                        <label>Current: </label>
                        <ul id="tags-deletable" class="tags unstyled">
                            {% for tag in private_tags %}
                                <li class="label success">
                                    <a href="{{ url_tags }}?tag={{ tag.slug}}">{{ tag.name }}</a>
                                    {% include "private/tag_remove.html" %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No tags yet</p>
                    {% endif %}

                    {% if private_tags and other_tags %}<hr />{% endif %}

                    {# tags that can be added #}
                    {% if other_tags %}
                        <label>Add: </label>
                        <ul id="tags-addable" class="tags unstyled{% if other_tags|length > 20 %} small{% endif %}">
                            {# user's tags #}
                            {% for tag in other_tags %}
                                <li class="label success">
                                    <a href="{{ url_tags }}?tag={{ tag.slug}}">{{ tag.name }}</a>
                                    {% include "private/tag_add.html" %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                {# form to create a tag and add it #}
                <label>New: </label>
                {% include "private/tag_create.html" %}

        </div>{# /tags-form #}

    </section>{# /modal-body #}

    <footer class="modal-footer">
    <a href="{{ when_finished }}" class="btn primary">Close this window <small>(don't forget to save your note if needed !)</small></a>
    </footer>

</div>
{% endif %}
