{% load utils_tags %}
<section>
    {% if obj.current_user_has_extra %}
        <ul class="status" title="Links between you and this {{ obj }}">
            {% if obj.current_user_follows %}
                <li title="You follow {{ obj }}">Following</li>
            {% endif %}
            {% if obj.model_name == 'account' %}
                {% if obj.current_user_followed %}
                    <li title="{{ obj }} follows you">Followed</li>
                {% endif %}
                {% if obj.current_user_is_self %}
                    <li title="It's you">You</li>
                {% endif %}
            {% else %}
                {% if obj.current_user_has_fork %}
                    <li title="You have a fork of {{ obj }}">Forked</li>
                {% endif %}
                {% if obj.current_user_owns %}
                    <li title="{{ obj }} is your repository">Yours</li>
                {% endif %}
            {% endif %}
        </ul>
    {% endif %}
    <ul class="actions">
        {% with has_note=obj.current_user_has_note %}
            <li class="action-note{% if has_note %} selected{% endif %}{% if edit_note %} edit{% endif %}">
                <a href="{{ obj_url }}edit-note/" title="{% if has_note %}Edit your{% else %}Add a{% endif %} private note">Note</a>
                {% if edit_note %}
                    {% include "front/note_form.html" %}
                {% else %}
                    {% if has_note %}<blockquote><div>{{ obj.current_user_rendered_note|safe }}</div></blockquote>{% endif %}
                {% endif %}
            </li>
        {% endwith %}
        {% with is_starred=obj.current_user_tags|dict_get:"starred" %}
            <li class="action-star{% if is_starred %} selected{% endif %}">
                <form method="post" action="/private/toggle/star/">{% csrf_token %}
                    <input type="hidden" name="content_type" value="{{ obj.content_type }}" />
                    <input type="hidden" name="object_id" value="{{ obj.pk }}" />
                    <button title="{% if is_starred %}Starred{% else %}Star it{% endif %}"><span>Star</span></button>
                </form>
            </li>
        {% endwith %}
        {% with for_later=obj.current_user_tags|dict_get:"check-later" %}
            <li class="action-check{% if for_later %} selected{% endif %}">
                <form method="post" action="/private/toggle/check-later/">{% csrf_token %}
                    <input type="hidden" name="content_type" value="{{ obj.content_type }}" />
                    <input type="hidden" name="object_id" value="{{ obj.pk }}" />
                    <button  title="{% if for_later %}You want to check it later{% else %}Click to check it later{% endif %}"><span>Check later</span></button>
                </form>
            </li>
        {% endwith %}
        <li class="action-more"><a href="{{ obj_url }}" title="Show details (readme, followers...)">More</a></li>
    </ul>
</section>
