{% load reposio_core include_strip %}

{% if request.user.is_authenticated and links %}
{% with nb_accounts=user_accounts|length %}
<ul class="links">
    <h1>You and {{ obj.slug }}</h1>

    {% if links.owning %}
        <li>
            You
            {% if nb_accounts > 1 %}
                ({% with account=links.owning %}{% include_strip "core/accounts/link_no_backend.html" %}{% endwith %})
            {% endif %}
            are the owner
        </li>
    {% endif %}
    {% if links.following or links.project_following %}
        <li>
            {% if links.following %}
                You
                {% if nb_accounts > 1 %}
                    ({% for account in links.following %}{% include_strip "core/accounts/link_no_backend.html" %}{% if not forloop.last %}, {% endif %}{% endfor %})
                {% endif %}
                follow this project
            {% endif %}
            {% if links.project_following %}
                {% if links.following %}
                    and
                    {% if links.project_following|length > 1 %}related ones{% else %}a related one{% endif %}
                {% else %}
                    You follow
                    {% if links.project_following|length > 1 %}some related projects{% else %}a related project{% endif %}
                {% endif %}
                ({% for repository in links.project_following %}{% include_strip "core/repositories/link.html" %}{% if not forloop.last %}, {% endif %}{% endfor %})
            {% endif %}
        </li>
    {% endif %}
    {% if links.contributing %}
        <li>
            You
            {% if nb_accounts > 1 %}
                ({% for account in links.contributing %}{% include_strip "core/accounts/link_no_backend.html" %}{% if not forloop.last %}, {% endif %}{% endfor %})
            {% endif %}
            made some contributions to this project.
        </li>
    {% endif %}
    {% if links.forks or links.project_forks %}
        <li>
            You have
            {% if links.forks %}
                {% if links.forks|length > 1 %}forks{% else %} a fork{% endif %}
                ({% for repository in links.forks %}{% include_strip "core/repositories/link_no_owner_no_backend.html" %}{% if not forloop.last %}, {% endif %}{% endfor %})
            {% endif %}
            {% if links.project_forks %}
                {% if links.forks %} and {% endif %}
                {% if links.project_forks|length > 1 %}indirect forks{% else %} an indirect fork{% endif %}
                ({% for repository in links.project_forks %}{% include_strip "core/repositories/link.html" %}{% if not forloop.last %}, {% endif %}{% endfor %})
            {% endif %}
        </li>
    {% endif %}

</ul>
{% endwith %}
{% endif %}

<dl class="infos">
    <h1>Informations</h1>

    <dt>Name</dt>
    <dd>{{ obj.name }}

    {% if obj.backend|supports:"repository_owner" %}
        <dt>Owner</dt>
        <dd><a class="owner" href="{{ obj.owner.get_absolute_url }}">{{ obj.owner.slug }}</a>{% if obj.owner.name %} ({{ obj.owner.name }}){% endif %}
    {% endif %}

    <dt>Source</dt>
    <dd><a href="{{ obj.url }}">{{ obj.backend }}</a></dd>

    {% if obj.backend|supports:"repository_parent_fork" and obj.parent_fork %}
        <dt>Fork of</dt>
        <dd><a class="parent-fork" href="{{ obj.parent_fork.get_absolute_url }}">{{ obj.parent_fork.slug }}</a>{% if obj.backend|supports:"repository_owner" %}, by <a href="{{ obj.parent_fork.owner.get_absolute_url }}">{{ obj.parent_fork.owner.slug }}</a>{% endif %}</dd>
    {% endif %}

    {% if obj.official_created %}
        <dt>Created on</dt>
        <dd>{{ obj.official_created }}</dd>
    {% endif %}

    {% if obj.official_modified %}
        <dt>Updated on</dt>
        <dd>{{ obj.official_modified }}</dd>
    {% endif %}

    <dt>Last fetched on</dt>
    <dd>{{ obj.last_fetch }}</dd>

    {% if obj.homepage %}
        <dt>Homepage</dt>
        <dd>{{ obj.homepage|urlizetrunc:30 }}</dd>
    {% endif %}
</dl>

<dl class="usage">
    <h1>Usage</h1>

    <dt>Score</dt>
    <dd>{{ obj.score }}</dd>

    <dt>Popularity</dt>
    <dd>Starred {{ obj|count_tags:'starred' }} times</dd>
    <dd>Tagged by {{ obj.count_taggers }} people</dd>

    <dt>Places</dt>
    <dd>Mentioned {{ obj|count_tags:'places' }} times</dd>

    <dt>Projects</dt>
    <dd>Mentioned {{ obj|count_tags:'projects' }} times</dd>
</dl>
