<article class="content repository github{% if repository.simple_str in with_details %} with-details{% endif %}">
    <figure>
        <a href="{{ repository.get_absolute_url }}" title="Go to the `{{ repository.slug }}` page"><img alt="{{ repository.slug }}'s logo" src="{% if repository.logo %}{{ repository.logo }}{% else %}{{ STATIC_URL }}img/avatar_default_{{ repository.backend }}.png{% endif %}" /></a>
    </figure>
    <header>
        <h1><a href="{{ repository.get_absolute_url }}" title="Go to the `{{ repository.slug }}` page">{{ repository.slug }}</a></h1>
        {% if repository.owner %}
        <h2><span>by</span> <a href="{{ repository.owner.get_absolute_url }}" title="Go to the User page">{{ repository.owner.slug }}</a></h2>
        {% endif %}
        <h3>@ {{ repository.backend }}</h3>
        {% if repository.is_fork %}
            <section class="flags">
                <span class="fork" title="It's a fork">
                    {% if repository.parent_fork_id %}
                        <a href="{{ repository.parent_fork.get_absolute_url }}">Fork</a>
                    {% else %}
                    Fork
                    {% endif %}
                </span>
            </section>
        {% endif %}
        <section class="links">
            <a href="#" title="Link to the project page on {{ repository.backend }}">{{ repository.backend }}</a>
            <a href="#" title="Link to the project home page">Home</a>
        </section>
    </header>
    <section class='description'>
        {% if repository.description %}
            <p>{{ repository.description }}</p>
        {% endif %}
    </section>
    <footer>
        {% with tags=repository.all_public_tags %}
            {% if tags %}
                <ul class="tags">
                    {% for tag in tags %}
                        <li><a href="#">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <section>
            <ul class="status" title="Links between you and this repository">
                <li class="status-forked" title="You are the owner of Repository">Yours</li>
            </ul>
            <ul class="actions">
                <li class="action-star{% if forloop.counter == 2 %} selected{% endif %}"><a href="" title="Star it">Star</a></li>
                <li class="action-check{% if forloop.counter == 3 %} selected{% endif %}"><a href="" title="Check later">Check later</a></li>
                <li class="action-more"><a href="" title="Show more : tags, notes...">More</a></li>
            </ul>
        </section>
    </footer>
    {% if repository.simple_str in with_details %}{% include "front/repository_details.html" %}{% endif %}
</article>
