<article class="content repository {{ repository.backend }}">
    <figure>
        <a href="{{ repository.get_absolute_url }}" title="Go to the `{{ repository.slug }}`'s page"><img alt="`{{ repository.project }}`'s logo" src="{% if repository.logo %}{{ repository.logo }}{% else %}{{ STATIC_URL }}img/avatar_default_{{ repository.backend }}.png{% endif %}" /></a>
    </figure>
    <header>
        <h1><a href="{{ repository.get_absolute_url }}" title="Go to the `{{ repository.project }}`'s page">{{ repository.slug }}</a></h1>
        {% if repository.owner %}
        <h2>
            <span>by</span>
            {% if repository.owner.avatar %}
                <a href="{{ repository.owner.get_absolute_url }}" title="Go to the `{{ repository.owner.slug }}`'s page"><img alt="`{{ repository.owner.slug }}`'s avatar" src="{{ repository.owner.avatar }}" /></a>
            {% endif %}
            <a href="{{ repository.owner.get_absolute_url }}" title="Go to the {{ repository.owner.slug }}'s page">{{ repository.owner.slug }}</a></h2>
        {% endif %}
        <h3>@ {{ repository.backend }}</h3>
        {% if repository.is_fork %}
            <section class="flags">
                <span class="fork" title="It's a fork{% if repository.parent_fork_id %} of {{ repository.parent_fork }}{% endif %}">
                    {% if repository.parent_fork_id %}
                        <a href="{{ repository.parent_fork.get_absolute_url }}">Fork</a>
                    {% else %}
                        Fork
                    {% endif %}
                </span>
            </section>
        {% endif %}
        <section class="links">
            <a href="{{ repository.url }}" title="Link to the `{{ repository.project }}`'s page on {{ repository.backend }}">{{ repository.backend }}</a>
            {% if repository.home_page %}
                <a href="{{ repository.home_page }}" title="Link to the `{{ repository.project }}`'s home page">Home</a>
            {% endif %}
        </section>
    </header>
    <section class='description'>
        {% if repository.description %}
            <p>{{ repository.description }}</p>
        {% endif %}
    </section>
    <footer>
        {% include "front/include_tags.html" with obj=repository %}
        {% include "front/include_icons.html" with obj=repository %}
    </footer>
</article>
