{% load private_tags %}<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <link href="{{ STATIC_URL }}/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}/css/print.css" media="print" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width" />
        <!--[if IE]>
            <link href="{{ STATIC_URL }}/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
    </head>
    <body>
        {% prepare_private objects %}
        <header>
            <section id="main-header">
                <h1>Repos.io</h1>
                <h2>Manage your repositories, the right way</h2>
            </section>
            <ul>
                <li>Full search
                    <span>
                        <em>Need something ?</em>
                        You can search repositories and people on many providers (github, bitbucket...) via a full text index
                    </span>
                </li><li>Regroup by project & place
                    <span>
                        <em>Lot of work ?</em>
                        Projects and places (simple labels) are here to kept you organizez by regrouping repositories and people
                    </span>
                </li><li>Add private tags &amp; notes
                    <span>
                        <em>Keep traces ?</em>
                        You can add as private tags as wanted to keep your stuff organized. And you can add a note on every project or user to keep trace of why it's interesting
                    </span>
                </li><li>Follow/unfollow
                    <span>
                        <em>Stop losing time</em>
                        You can follow or unfollow project or people on a provider (github, bitbucket...) directly on Repos.io
                    </span>
                </li><li>Discover stuff
                    <span>
                        <em>Want more ?</em>
                        Repos.io help you find interesting stuff with it's "more like this" functionnality. Click on these links to discover more !
                    </span>
                </li><li>More soon !
                    <span>
                        <em>We're working</em>
                        We are currently working on adding functionnalities and supported backend. Stay tuned !
                    </span>
                </li>
            </ul>
        </header>
        <section>
            <section id="search">
                <header>
                    <h1>Search on Github, Bitbucket...</h1>
                    <p>
                        or list
                        <span><a href="">last</a></span>
                        or
                        <span><a href="">best</a><em>current</em></span>
                    </p>
                </header>
                <form>
                    <fieldset id="search_main">
                        <input type="text" />
                        <input type="submit" name="submit" value="f" title="Search !"/>
                    </fieldset>
                    <fieldset id="search_filter">
                        <legend>Filter</legend>
                        <label for="search_filter_choice">Choose a filter</label>
                        <select name="filter" id="search_filter_choice">
                            <option value="">No filter</option>
                            <optgroup label="Your places">
                                <option value="tag:place::liberation">Libération</option>
                                <option value="tag:place::perso">Perso</option>
                                <option value="tag:place::semio">Semio</option>
                            </optgroup>
                            <optgroup label="Your projects">
                                <option value="tag:project::liberation">Arteestick</option>
                                <option value="tag:project::perso">Djaz</option>
                                <option value="tag:project::semio">Ulule</option>
                            </optgroup>
                            <optgroup label="Your tags">
                                <option value="tag:foo">Foo</option>
                                <option value="tag:bar">Bar</option>
                                <option value="tag:baz">Baz</option>
                            </optgroup>
                            <optgroup label="Others">
                                <option value="starred">Starred</option>
                                <option value="check_later">Check later</option>
                                <option value="noted">With note</option>
                                <option value="following">Following</option>
                                <option value="owned">Owned</option>
                            </optgroup>
                        </select>
                    </fieldset>
                    <fieldset id="search_type">
                        <legend>Type</legend>
                        <label>Type of results</label>
                        <ul>
                            <li>
                            <input type="radio" name="type" id="search_type_repositories" value="repository"{% if search_type == 'repository' %} checked="checked"{% endif %} /><label for="search_type_repositories">Repositories</label>
                                <fieldset id="search_type_repositories">
                                    <input type="checkbox" name="show_forks" value="1" id="search_show_forks" /><label for="search_show_forks">Show forks ?</label>
                                </fieldset>
                            </li>
                            <li>
                                <input type="radio" name="type" id="search_type_people" value="account"{% if search_type == 'account' %} checked="checked"{% endif %} /><label for="search_type_people">People</label>
                            </li>
                    </fieldset>
                </form>
            </section>
            <section class="results">
                {% for object in objects %}
                    {% if object.model_name == 'account' %}
                        {% include "front/user_content.html" with account=object %}
                    {% else %}
                        {% include "front/repository_content.html" with repository=object %}
                    {% endif %}
                {% endfor %}
            </section>
        </section>
        <footer>
        </footer>
    </body>
</html>
