<article class="content account {{ account.backend }}">
    <figure>
        <a href="{{ account.get_absolute_url }}" title="Go to the `{{ account.slug }}`'s page"><img alt="`{{ account.slug }}`'s avatar" src="{% if account.avatar %}{{ account.avatar }}{% else %}{{ STATIC_URL }}img/avatar_default_{{ repository.backend }}.png{% endif %}" /></a>
    </figure>
    <header>
        <h1><a href="{{ account.get_absolute_url }}" title="Go to the `{{ account.slug }}`'s page">{{ account.slug }}</a></h1>
        <h3>@ {{ account.backend }}</h3>
        <section class="links">
            <a href="{{ account.url }}" title="Link to the `{{ account.slug }}`'s page on {{ account.backend }}">{{ account.backend }}</a>
            {% if account.home_page %}
                <a href="{{ account.home_page }}" title="Link to the `{{ account.slug }}`'s home page">Home</a>
            {% endif %}
        </section>
    </header>
    <section class='description'>
        {% if account.name %}
            <p>{{ account.name }}</p>
        {% endif %}
    </section>
    <footer>
        {% include "front/include_tags.html" with obj=account %}
        {% include "front/include_icons.html" with obj=account %}
    </footer>
</article>

