{% extends "core/repositories/base.html" %}
{% load private_tags tagging_tags %}
{% block title %}Followers of {{ block.super }}{% endblock %}
{% block repository_content %}

    {% if repository.followers_modified %}

        {% if sorted_followers %}
            {% prepare_private sorted_followers %}
            {% prepare_public_tags sorted_followers %}

            <p>{{ repository.slug }} (by {{ repository.owner.slug }}) is followed by {{ repository.followers_count }} people : <small>(last fetch on {{ repository.followers_modified }})</small></p>

            <table class='zebra-striped condensed-table accounts{% if user.id %} with_extras{% endif %}'>
                <thead>
                    <tr>
                        {% include "core/accounts/sort_th_name.html" %}
                        <th class="blue">Owner</th>
                        <th class="purple">Contributor</th>
                        <th class="green">Links</th>
                        {% include "core/th_extra.html" %}
                    </tr>
                </thead>
                <tbody>
                    {% for account in sorted_followers %}
                    <tr>
                        <td>
                            {% include "core/accounts/main_account_cell.html" %}
                        </td>
                        {% if account.id == repository.owner.id %}<td title="{{ account.slug }} is the owner of {{ repository.project }} !">&check;</td>{% else %}<td></td>{% endif %}
                        {% if account.id in repository.contributors_ids %}<td title="{{ account.slug }} is/was a contributor of {{ repository.project }} !">&check;</td>{% else %}<td></td>{% endif %}
                        <td>
                            {% include "core/accounts/links.html" %}
                        </td>
                        {% include "core/accounts/list_extra.html" %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>{{ repository.slug }} doesn't have any follower</p>
        {% endif %}

    {% else %}
        <p>{{ repository.slug }} has {{ repository.official_followers_count }} followers, but they need to be fetched{% if not user.is_authenticated %} by an authenticated user{% endif %}</p>
    {% endif %}

{% endblock repository_content %}
