{% extends "core/repositories/base.html" %}

{% block repository_content %}

    <blockquote>{{ repository.description }}</blockquote>

    <p>
        {% if repository.followers_modified %}
            <a href="{{ repository.get_followers_url }}">{{ repository.followers_count }} followers</a> (updated on {{ repository.followers_modified }})
        {% else %}
            {{ repository.official_followers_count }} followers (related must be fetched before display)
        {% endif %}
    </p>

    <p>
        {% if repository.contributors_modified %}
            <a href="{{ repository.get_contributors_url }}">{{ repository.contributors_count }} contributors</a> (updated on {{ repository.contributors_modified }})
        {% else %}
            unknown number of contributors (related must be fetched before display)
        {% endif %}
    </p>


{% endblock repository_content %}
