{% extends "accounts/base_logged_redirect.html" %}
{% load private_tags %}
{% url accounts_manage as url_manage %}

{% block meta_refresh %}
    <meta id="meta_refresh" http-equiv="refresh" content="2; url={% url accounts_manage %}" />
{% endblock %}

{% block message %}
    {% if user and user.is_authenticated %}
        You are now logged in (or your account associated).
    {% else %}
        YOU ARE NOT LOGGED IN (or your account is not associated) !
    {% endif %}
{% endblock %}

{% block redirect_link %}
    <a href="{% url accounts_manage %}">Click here if you are not automatically redirected.</a>
{% endblock %}

{% block close_link %}
    {% if user and user.is_authenticated %}
        <p class="close">
            <a href="#" onclick="window.self.close()">
                You can close this window/tab, you are now logged in the original Repos.io window/tab
            </a>
        </p>
    {% endif %}
{% endblock %}

{% block js_opener %}
    {% if user and user.is_authenticated %}
        win_opener.Reposio.Page.on_logged({
            Token: "{{ csrf_token }}",
            UserTags: {% all_user_tags_json %}
        });
    {% else %}
        win_opener.Reposio.Page.on_not_logged();
    {% endif %}
{% endblock %}

{% block js_no_opener %}
    setTimeout(function() {
        window.location.href = "{% url accounts_manage %}";
    }, 2000);
{% endblock %}
