{% extends 'base.html' %}
{% block title %}Login on {% endblock %}
{% block content %}

    <section>

        <p>Please login with one of these providers :</p>

        <p>
            {% for backend, auth_backend in backends_map.items %}
            <a class="btn large" href="{% url socialauth_begin auth_backend %}"><img src="{{ STATIC_URL }}img/favicon_github.png" /> {{ backend }}</a>
            {% endfor %}
            <span>(more to come)</span>
        </p>

        {% include "accounts/include_about.html" %}

    </section>

{% endblock content %}
