{% extends "accounts/base.html" %}

{% block accounts_content %}

    {% if request.session.social_errors %}
        {{ social_errors }}
    {% endif %}

    {% with accounts=user.accounts.all %}
        {% if accounts %}

            <p>Your account is linked to : </p>

            <ul>
                {% for account in accounts %}
                    <li><em>{{ account.slug }}</em>@<em>{{ account.backend }}</em></li>
                {% endfor %}
            </ul>

            <p>You can associate your account with another provider (if you want to assciate many github accounts, you must disconnect from github and reconnect with the other account you want to associate) :</p>

        {% else %}

            <p>Your account is not linked to any provider, please associate with at least one below :</p>

        {% endif %}

        <ul>

            {% for backend, auth_backend in backends_map.items %}
                <li><a href="{% url socialauth_associate_begin auth_backend %}">{{ backend }}</a></li>
            {% endfor %}
            <li>(more to come)</li>

        </ul>

    {% endwith %}

    {% include "accounts/include_about.html" %}

{% endblock accounts_content %}
