/* Topbar's height and a little more */
html, body {
    background: #eee;
}

body {
    padding-top: 40px;
}

#content {
    margin: 20px -20px;
    padding: 20px;
    background-color: white;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#content.with_messages {
    margin-top: 0;
}

small {
    color: #bfbfbf;
    font-size: smaller;
}

.label {
    padding-bottom: 1px;
}
a.label:hover {
    color: white;
}
ul.tags li {
    display: inline-block;
}
.helptext {
  font-size: 11px;
  line-height: 18px;
  color: #bfbfbf;
}

.btn img {
    vertical-align: middle;
    margin-left: -5px;
}

.rel_popover div {
    display: none;
}

#messages {
    margin: 20px -20px 15px;
}
#messages .alert-message {
    margin-bottom: 5px;
}

.pagination ul {
    display: table;
    margin: 0 auto;
    float: none;
}
.pagination .active a, .pagination .disabled a {
    cursor: default;
}

section.row {
    margin-bottom: 18px;
}

.nav .dropdown li img {
    vertical-align: middle;
}

.modal .modal-header {
    background: #222;
    color: #fff;
    border: solid black 1px;
    border-bottom: none;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.modal .modal-header h3, .modal .modal-header a {
    color: #fff;
}

/* use small color in tables */
td small a {
    color: #999;
}
td small a:hover {
    color: #999;
}

/* Revert table style to boostrap 1.2 */
table {
    border: none;
}
table th {
    border-bottom-width: 2px;
}
table th + th, table td + td {
    border-left: none;
}
table tr + tr td {
    border-top: none;
}
table tr td {
    border-bottom: 1px solid #DDDDDD;
}
.zebra-striped .headerSortUp, .zebra-striped .headerSortDown {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

/* Do not visually "select" elements in topbar's sub-menu when their "parent" is selected */
.topbar li.active li a {
    background-color: transparent;
}
.topbar li.active li.active a {
    background-color: rgba(0, 0, 0, 0.5)
}
.topbar form {
    left: 50%;
    width: 350px;
    position: absolute;
    margin-left: -175px;
    float: none;
}

.main_header {
    background: #f5f5f5;
    margin: -20px -20px 20px;
    padding: 20px 20px 10px;
    border-bottom: 1px solid #DDDDDD;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.main_header h1:last-child {
    margin-bottom: 10px;
}

/* first level section */
#content > section > header {
    padding-left: 0;
    padding-right: 0;
}
#content > section > header img {
    vertical-align: middle;
}
#content > section > header > div > a > img {
    float: left;
    margin-right: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
#content > section > header .score {
    margin: 2px 0;
}
#content > section > header h1 {
    margin-bottom: 0;
    margin-left: 90px;
}
#content > section > header h1~h2 {
    line-height: 16px;
    margin: 0 0 8px 90px;
}
#content > section > header h1~p {
    margin: 3px 3px 3px 90px;
}
#content > section > header .tags {
    margin-left: 90px;
}

/* Fetch date information (buttons on the right) */
.fetch-date {
    display: block;
}
.fetch-form {
    margin-bottom: 10px;
}
.fetch-form button {
    display: block;
    width: 100%;
    text-align: left;
}
.fetch-form button em {
    font-size: smaller;
}
.fetch-form button span {
    display: block;
    font-size: smaller;
    text-align: left;
}

/* Use links in table's header to sort */
table.zebra-striped th.sortable.header {
    position: relative;
    padding: 0;
    cursor: default;
}
table.zebra-striped th.sortable.header a {
    display: block;
    color: inherit;
    margin: 0;
    padding: 9px 10px;
}
table.zebra-striped th.sortable.header:after {
    border-width: 4px 4px 0;
    position: relative;
    top: -15px;
    right: 10px;
    margin: -4px 0 0;
}
table.zebra-striped th.sortable.header.reverse:after {
    border-width: 0 4px 4px;
}
table.zebra-striped th.sortable.header.headerSortDown:after {
    border-width: 0 4px 4px;
}

/* Color arrows in tables */
table.zebra-striped th.blue.header:after {
  border-color: #049cdb transparent;
}
table.zebra-striped th.green.header:after {
  border-color: #46a546 transparent;
}
table.zebra-striped th.red.header:after {
  border-color: #9d261d transparent;
}
table.zebra-striped th.yellow.header:after {
  border-color: #ffc40d transparent;
}
table.zebra-striped th.orange.header:after {
  border-color: #f89406 transparent;
}
table.zebra-striped th.purple.header:after {
  border-color: #7a43b6 transparent;
}

body#search-repositories h2 {
    float: left;
}
body#search-repositories h2.no-results {
    float: none;
}
#search-options {
    float: right;
}
body#search-repositories table.repositories,
body#search-accounts table.accounts {
    margin-top: 15px;
}

/* Tables with an extra div info in the last column */
table.with_extras td:first-child {
    padding-right: 110px !important;
}
table.with_extras div.extra {
    margin-top: 0;
    float: right;
    margin-right: -105px;
}
table.with_extras div.extra .rel_popover {
    float: right;
    margin-left: 5px;
}
table.with_extras div.extra img {
    margin: 0 !important;
}
table.with_extras div.extra .special-tags {
    margin: 0;
    max-width: 70px;
    margin-left: 10px;
    float: right;
    text-align: right;
    margin-right: 21px;
}
table.with_extras div.extra.with_note .special-tags,
table.with_extras div.extra.with_tags .special-tags {
    margin-right: 0;
}
table.with_extras div.extra .special-tags .label {
    font-size: 8px;
    padding: 1px 2px;
    line-height: 11px;
    cursor: default;
    display: inline-block;
}
div.extra_container.with_note.with_tags .tags {
    padding-bottom: 8px;
    margin-top: -5px;
    margin-bottom: 8px;
    border-bottom: solid #bfbfbf 1px;
}
/* Scores */
.score {
    background-color: #e0e0e0;
    height: 1px;
    overflow: hidden;
}
table.repositories .score,
table.accounts .score {
    position: relative;
    margin-left: 36px;
}
table.repositories .score {
    top: 3px;
    margin-bottom: 10px;
}
table.accounts .score {
    top: -16px;
}


/* Style repositories table */
table.repositories blockquote {
    margin: 5px 26px 0 0;
}
table.repositories td:first-child img {
    float: left;
    margin-right: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
table.repositories td:first-child blockquote {
    margin-left: 37px;
}
table.repositories td:nth-child(2) {
    white-space: nowrap;
}
table.repositories td:nth-child(2) img {
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
table.repositories td:nth-child(3) {
    white-space: nowrap;
}

/* Style accounts table */
table.accounts {
    width: auto;
}
table.accounts td:nth-child(2),
table.accounts.with_owner td:nth-child(3) {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}
table.accounts td:first-child {
    padding: 5px;
    height: 30px;
}
table.accounts td:first-child img {
    vertical-align: text-top;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 2px;
}
table.accounts .tags {
    margin-left: 36px;
    position: relative;
    top: -16px;
    margin-bottom: -18px;
}
table.accounts .tags .label {
    font-size: 8px;
}

/* Home */
body#home .row:first-child section:first-child {
    padding-top: 10px;
    padding-bottom: 10px;
    background : #f5f5f5;
}
body#home .row:first-child section:first-child h1 {
    text-align: center;
}
body#home .row:first-child section:first-child hr {
    margin: 10px 0;
}
body#home .row:first-child section:first-child p {
    margin-left: 10px;
    margin-right: 10px;
    line-height: 15px;
}
body#home .row:first-child section:first-child table {
    width: 90%;
    margin: auto;
}
body#home .row:first-child section:first-child table tr:first-child td {
    border-top: 1px solid #DDDDDD;
}
body#home .row:first-child section:first-child p.with-btn {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
body#home table td {
    padding: 5px;
}
body#home table td:first-child img {
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* Login page */
body#accounts-login section {
    width: 460px;
    margin: 50px auto 30px;
    padding: 30px 50px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
body#accounts-login p:nth-child(2) {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
body#accounts-login p:last-child {
    margin-bottom: 0;
}
body#accounts-login a.btn {
    margin-right: 10px;
}

/* Manage page */
body#accounts-manage .row:nth-child(2) section:first-child table tr:first-child td {
    border-top: 1px solid #DDDDDD;
}
body#accounts-manage table td:first-child img {
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
body#accounts-manage .row:nth-child(2) section:nth-child(2) p:nth-child(3) {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
body#accounts-manage .row:nth-child(2) section:nth-child(2)  a.btn {
    margin-right: 10px;
}

/* Account home */
body#user-home dd {
    margin-bottom: 20px;
}
body#user-home .row:last-child section:last-child {
    text-align: center;
}

/* Repository home */
body#repository-home dd {
    margin-bottom: 20px;
}
body#repository-home #repository-main section:last-child {
    text-align: center;
}
body#repository-home section.readme pre {
    line-height: 1.1em;
    font-size: 11px;
}

/* Account repositories */
body#user-repositories p.row span:last-child {
    text-align: right;
}

/* Notes */

.sticky {
    -webkit-box-shadow: #DDD 0px 1px 2px;
    position: relative;
    background-color: #FFFFB7;
    border-color: #DEE184;
    text-align: center;
    margin: 25px 0px;
    padding: 15px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
}
.sticky.taped:after {
    display: block;
    content: "";
    position: absolute;
    width: 110px;
    height: 30px;
    top: -21px;
    left: 2400px;
    border: 1px solid #fff;
    background: rgba(254, 254, 254, .6);
    -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
    box-shadow: 0px 0 3px rgba(0,0,0,0.1);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}

/* Private part */
#private {
    margin-top: -14px;
    text-align: left;
}
#private > div {
    float: left;
    margin-left: 20px;
}
#private > div > a, #private > div > a small {
    color: #a28514;
}
#private > #note-part {
    margin-left: 0;
    width: 610px;
    padding-bottom: 10px;
}
#private > #note-part.with-note > a {
    position: absolute;
    top: -2px;
    left: 4px;
}
#private > #note-part.with-note > a small {
    color: #F8E498;
}
#private:hover > #note-part.with-note > a small {
    color: #a28514;
}
#private > #note-part > div:first-child >  p:last-child {
    margin-bottom: 0;
}
#private > #tags-part {
    width: 264px;
    padding-left: 15px;
    border-left: dashed 1px #bfbfbf;
    padding-bottom: 10px;
}
#private > #tags-part ul {
    margin-bottom: 0;
}
#private > #tags-part.with-tags > a {
    position: absolute;
    top: -2px;
    right: 4px;
}
#private > #tags-part.with-tags > a small {
    color: #F8E498;
}
#private:hover > #tags-part.with-tags > a small {
    color: #a28514;
}
#private #specific-part {
    border-top: dashed 1px #bfbfbf;
    float: none;
    margin: 0;
    padding-top: 10px;
    clear: both;
    font-size: smaller;
}
#private #specific-part ul {
    margin-bottom: 0;
}
#private #specific-part a  {
    color: #a28514;
}
#private.sticky.taped:after {
    left: 415px;
    content: "About you and this page";
    text-align: center;
    font-size: smaller;
    color: #bfbfbf;
    line-height: 15px;
}
#private.sticky.taped.for-user:after {
    content: "About you and this account";
}
#private.sticky.taped.for-repository:after {
    content: "About you and this project";
}
#note-edit form, #tags-edit form {
    padding: 0;
    margin: 0;
}
#note-edit form .modal-body, #tags-edit form .modal-body {
    padding-bottom: 0;
}
#note-edit form textarea, #tags-edit form textarea {
    width: 510px;
}
#note-edit form#note-delete-form, #tags-edit form#tags-delete-form {
    position: absolute;
    display: inline-block;
    bottom: 15px;
    left: 20px;
}
#tags-edit #id_tags {
    width: 520px;
}

/* List filter */
form#list-filter {
    display: inline-block;
    margin-right: 15px;
}
form#list-filter:last-child {
    margin-right: 0;
