/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* http://somerandomdude.com/work/iconic/ */
@font-face {
  font-family: "IconicStroke";
  src: url("font/iconic/iconic_stroke.eot?#iefix") format("embedded-opentype"), url("font/iconic/iconic_stroke.woff") format("woff"), url("font/iconic/iconic_stroke.ttf") format("truetype"), url("font/iconic/iconic_stroke.svg#svgFontName") format("svg");
}

/* line 135, ../sass/screen.sass */
html {
  overflow-y: scroll;
}

/* line 138, ../sass/screen.sass */
html, body {
  margin: 0;
  padding: 0;
  background: #eeeff1;
  font-size: 14px;
  font-family: Arial, Helvetica, Sans-serif;
  line-height: 1.2;
  color: black;
}

/* line 149, ../sass/screen.sass */
body > footer, body > section {
  width: 90%;
  min-width: 320px;
  max-width: 960px;
  margin: 0 auto;
}

/* line 155, ../sass/screen.sass */
small {
  font-size: smaller;
}

/* line 158, ../sass/screen.sass */
a {
  color: #3078ca;
  text-decoration: none;
}

/* line 162, ../sass/screen.sass */
a:hover {
  text-decoration: underline;
}

/* line 165, ../sass/screen.sass */
h1 {
  font-weight: bold;
}

/* line 168, ../sass/screen.sass */
ul.tags {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 36, ../sass/screen.sass */
ul.tags li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 171, ../sass/screen.sass */
ul.tags li {
  margin: 1px;
  display: inline-block;
  padding: 0 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  line-height: 1.6em;
  background: #e0edf5;
}
/* line 174, ../sass/screen.sass */
ul.tags li a {
  color: #2f5d92;
}

/* line 177, ../sass/screen.sass */
body > header {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a5f95), color-stop(100%, #00396b)), #075385;
  background: -webkit-linear-gradient(top, #0a5f95, #00396b), #075385;
  background: -moz-linear-gradient(top, #0a5f95, #00396b), #075385;
  background: -o-linear-gradient(top, #0a5f95, #00396b), #075385;
  background: -ms-linear-gradient(top, #0a5f95, #00396b), #075385;
  background: linear-gradient(top, #0a5f95, #00396b), #075385;
  padding: 20px 10px 0;
  position: relative;
  min-height: 40px;
}
/* line 183, ../sass/screen.sass */
body > header:after {
  content: "";
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 2px;
  height: 10px;
  margin: 0 -10px;
  clear: both;
  display: block;
}
/* line 191, ../sass/screen.sass */
body > header #main-header {
  float: left;
  margin-top: -15px;
}
/* line 194, ../sass/screen.sass */
body > header #main-header h1, body > header #main-header h2 {
  display: inline-block;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0;
}
/* line 198, ../sass/screen.sass */
body > header #main-header h1 {
  font-size: 200%;
  color: white;
}
/* line 201, ../sass/screen.sass */
body > header #main-header h1:before {
  content: "0";
  font-family: "IconicStroke";
  font-size: 150%;
  font-weight: normal;
  color: #4f96d7;
}
/* line 205, ../sass/screen.sass */
body > header #main-header h2 {
  color: #4f96d7;
  font-size: 120%;
  margin: 0 1ex;
}
/* line 210, ../sass/screen.sass */
body > header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  min-height: 40px;
  font-weight: bold;
  color: white;
  font-size: 95%;
  margin: 1px 20px 0;
  padding: 1ex;
  float: right;
  text-align: center;
}
/* line 36, ../sass/screen.sass */
body > header ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 221, ../sass/screen.sass */
body > header ul li {
  margin: 0 0.8ex 5px 0;
  display: inline-block;
  position: relative;
  cursor: help;
  text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0;
}
/* line 227, ../sass/screen.sass */
body > header ul li:before {
  content: "-";
  padding-right: 0.8ex;
  color: rgba(255, 255, 255, 0.5);
}
/* line 231, ../sass/screen.sass */
body > header ul li:last-child:after {
  content: "-";
  color: rgba(255, 255, 255, 0.5);
}
/* line 234, ../sass/screen.sass */
body > header ul li span {
  display: none;
  background: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  width: 20em;
  z-index: 10;
  padding: 0.5ex;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  color: white;
  cursor: default;
  border: solid white 2px;
  -moz-box-shadow: black 4px 4px 10px;
  -webkit-box-shadow: black 4px 4px 10px;
  -o-box-shadow: black 4px 4px 10px;
  box-shadow: black 4px 4px 10px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10em;
  margin-top: 12px;
  z-index: 11;
  text-align: left;
  font-weight: normal;
  line-height: 1.8em;
  padding: 1ex;
}
/* line 124, ../sass/screen.sass */
body > header ul li span:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 12px solid black;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -12px;
  top: -11px;
}
/* line 242, ../sass/screen.sass */
body > header ul li span em {
  display: block;
  margin: 0.5ex 0;
  text-align: center;
  font-weight: bold;
  font-size: 110%;
}
/* line 249, ../sass/screen.sass */
body > header ul li:hover span, body > header ul li:focus span {
  display: block;
}

/* line 252, ../sass/screen.sass */
body > footer {
  height: 10px;
}

/* line 255, ../sass/screen.sass */
body > section > section.results {
  margin: auto;
  margin-top: 15px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  position: relative;
}
/* line 261, ../sass/screen.sass */
body > section > section.results:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 12px solid white;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -12px;
  top: -10px;
  left: 10%;
  z-index: 10;
}

/* line 267, ../sass/screen.sass */
section.results section.results {
  font-size: 95%;
  background: #eeeff1;
}
/* line 271, ../sass/screen.sass */
section.results section.results article.content:before {
  display: none;
}

/* line 274, ../sass/screen.sass */
article.content {
  margin: 0 auto;
  padding: 13px 13px 5px;
  background: white;
  position: relative;
  border-top: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 283, ../sass/screen.sass */
article.content:nth-child(even) {
  background: #f9f9f9;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}
/* line 288, ../sass/screen.sass */
article.content:first-child {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -khtml-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
/* line 290, ../sass/screen.sass */
article.content:last-child {
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -khtml-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
/* line 293, ../sass/screen.sass */
article.content > figure {
  width: 10%;
  min-width: 20px;
  max-width: 60px;
  float: left;
  margin: 0 1% 1% 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  overflow: hidden;
}
/* line 302, ../sass/screen.sass */
article.content > figure a {
  position: relative;
  max-width: 100%;
}
/* line 306, ../sass/screen.sass */
article.content > figure a img {
  width: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  float: left;
}
/* line 312, ../sass/screen.sass */
article.content:hover > figure {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 315, ../sass/screen.sass */
article.content > header {
  margin: 0 0 0.5%;
}
/* line 318, ../sass/screen.sass */
article.content > header h1 {
  font-size: 120%;
  margin: 0;
  line-height: 100%;
  display: inline-block;
}
/* line 323, ../sass/screen.sass */
article.content > header h1 a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #3078ca;
  padding: 5px;
  color: white;
  display: inline-block;
}
/* line 330, ../sass/screen.sass */
article.content > header h2 {
  font-size: 100%;
  margin: 0;
  display: inline-block;
  font-weight: normal;
}
/* line 336, ../sass/screen.sass */
article.content > header h2 span {
  color: #777777;
  font-size: 80%;
}
/* line 340, ../sass/screen.sass */
article.content > header h3 {
  display: inline-block;
  font-size: 80%;
  font-weight: normal;
  margin: 0;
  color: #777777;
}
/* line 349, ../sass/screen.sass */
article.content > header > section.flags {
  display: inline-block;
  vertical-align: middle;
}
/* line 352, ../sass/screen.sass */
article.content > header > section.flags > span {
  margin: 1px;
  display: inline-block;
  padding: 0 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  line-height: 1.6em;
  color: white;
  font-size: 80%;
}
/* line 356, ../sass/screen.sass */
article.content > header > section.flags > span a {
  color: white;
}
/* line 358, ../sass/screen.sass */
article.content > header > section.flags > span.fork {
  background: orange;
}
/* line 361, ../sass/screen.sass */
article.content > header > section.links {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
  overflow: hidden;
  /* &:before
   *  content: "-"
   *  color: $color2
   *  vertical-align: middle */
}
/* line 373, ../sass/screen.sass */
article.content > header > section.links a {
  display: inline-block;
}
/* line 376, ../sass/screen.sass */
article.content > header > section.links a:first-child {
  padding-left: 16px;
  background-repeat: no-repeat;
  background-position: left center;
  width: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 384, ../sass/screen.sass */
article.content > header > section.links a:nth-child(2) {
  width: 0.9em;
  visibility: hidden;
  text-decoration: none;
  color: black;
}
/* line 390, ../sass/screen.sass */
article.content > header > section.links a:nth-child(2):before {
  content: "!";
  font-family: "IconicStroke";
  font-size: 16px;
  visibility: visible;
  font-weight: bold;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
/* line 399, ../sass/screen.sass */
article.content > section.description {
  padding: 0 1% 1%;
  margin-left: 8%;
  margin-top: 1ex;
}
/* line 403, ../sass/screen.sass */
article.content > section.description > p {
  margin: 0;
  border-left: solid 5px #eeeeee;
  padding-left: 5px;
  color: #777777;
}
/* line 409, ../sass/screen.sass */
article.content > footer {
  clear: both;
  font-size: 90%;
  padding: 0.25% 0 0;
  line-height: 1.8em;
  overflow: auto;
}
/* line 416, ../sass/screen.sass */
article.content > footer .tags {
  font-size: 90%;
  display: inline-block;
}
/* line 420, ../sass/screen.sass */
article.content > footer > section {
  float: right;
  vertical-align: middle;
}
/* line 424, ../sass/screen.sass */
article.content > footer > section > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
/* line 36, ../sass/screen.sass */
article.content > footer > section > ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 430, ../sass/screen.sass */
article.content > footer > section > ul > li {
  display: inline-block;
  vertical-align: middle;
}
/* line 437, ../sass/screen.sass */
article.content > footer > section > ul.actions li a {
  visibility: hidden;
  width: 1.2em;
  overflow: hidden;
  margin-left: 0.5em;
  float: left;
  vertical-align: middle;
  height: 1.7em;
}
/* line 446, ../sass/screen.sass */
article.content > footer > section > ul.actions li a:hover {
  text-decoration: none;
}
/* line 449, ../sass/screen.sass */
article.content > footer > section > ul.actions li a:before {
  visibility: visible;
  color: #4f96d7;
  padding-left: 0.1ex;
}
/* line 454, ../sass/screen.sass */
article.content > footer > section > ul.actions li.action-star a:before {
  content: "s";
  font-family: "IconicStroke";
  font-size: 150%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 457, ../sass/screen.sass */
article.content > footer > section > ul.actions li.action-check a:before {
  content: "|";
  font-family: "IconicStroke";
  font-size: 150%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 460, ../sass/screen.sass */
article.content > footer > section > ul.actions li.action-more a:before {
  content: "=";
  font-family: "IconicStroke";
  font-size: 150%;
}
/* line 463, ../sass/screen.sass */
article.content > footer > section > ul.actions li.selected a:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 465, ../sass/screen.sass */
article.content > footer > section > ul.actions li.selected.action-star a:before {
  color: yellow;
  text-shadow: black 0 0 1px;
}
/* line 468, ../sass/screen.sass */
article.content > footer > section > ul.actions li.selected.action-check a:before {
  color: green;
}
/* line 473, ../sass/screen.sass */
article.content > footer > section > ul.status a {
  color: #4f96d7;
}
/* line 477, ../sass/screen.sass */
article.content > footer > section > ul.status li:before {
  content: "/ ";
}
/* line 480, ../sass/screen.sass */
article.content > footer > section > ul.status li:last-child:after {
  content: "|";
  padding-left: 0.8em;
  color: rgba(0, 0, 0, 0.25);
}
/* line 485, ../sass/screen.sass */
article.content > footer > section > ul.status li:first-child:before {
  content: "/";
  font-family: "IconicStroke";
  font-size: 150%;
  vertical-align: -0.15em;
  line-height: 0.66em;
  padding-right: 0.5ex;
}

/* line 491, ../sass/screen.sass */
article.content.github > header > section.links a:first-child {
  background-image: url(../img/favicon_github.png);
}

/* line 494, ../sass/screen.sass */
article.content.with-details {
  border: solid #4f96d7 1px;
  border-left-width: 4px;
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -khtml-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  padding-left: 9px;
}
/* line 500, ../sass/screen.sass */
article.content.with-details > footer > section > ul.actions li.action-more a:before {
  content: "%";
}

/* line 503, ../sass/screen.sass */
article.content > section.details {
  background: #eeeff1;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px inset;
  margin: 5px -4px 0;
}
/* line 509, ../sass/screen.sass */
article.content > section.details > header > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 1ex;
  width: 100%;
  display: table;
  border-collapse: separate;
  border-spacing: 4px;
}
/* line 36, ../sass/screen.sass */
article.content > section.details > header > ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 521, ../sass/screen.sass */
article.content > section.details > header > ul li {
  margin: 0 1%;
  padding: 0.2em 2px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  display: table-cell;
}
/* line 530, ../sass/screen.sass */
article.content > section.details > header > ul li a {
  display: block;
  position: relative;
}
/* line 534, ../sass/screen.sass */
article.content > section.details > header > ul li a span {
  background: #4f96d7;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -o-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -khtml-border-radius: 1000px;
  border-radius: 1000px;
  color: white;
  font-size: 70%;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  margin-left: 1ex;
  position: relative;
  top: -2px;
  padding: 3px 3px 2px;
  min-width: 1.2em;
}
/* line 548, ../sass/screen.sass */
article.content > section.details > header > ul li:hover {
  background: #eeeeee;
}
/* line 551, ../sass/screen.sass */
article.content > section.details > header > ul li.current {
  background: #4f96d7;
  font-weight: bold;
  vertical-align: bottom;
}
/* line 556, ../sass/screen.sass */
article.content > section.details > header > ul li.current a {
  color: white;
}
/* line 559, ../sass/screen.sass */
article.content > section.details > header > ul li.current a span {
  background: white;
  color: #4f96d7;
}
/* line 563, ../sass/screen.sass */
article.content > section.details > header > ul li.current a:after {
  content: " ";
  width: 0;
  height: 0;
  border-top: 12px solid #4f96d7;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
}
/* line 566, ../sass/screen.sass */
article.content > section.details > section {
  display: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
/* line 569, ../sass/screen.sass */
article.content > section.details > section.current {
  display: block;
}
/* line 571, ../sass/screen.sass */
article.content > section.details > section.readme, article.content > section.details > section.note {
  padding: 0.5em;
}
/* line 573, ../sass/screen.sass */
article.content > section.details > section.readme {
  overflow-x: auto;
}

/* line 576, ../sass/screen.sass */
#search {
  padding: 18px 13px 13px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -khtml-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
}
/* line 584, ../sass/screen.sass */
#search > header:after {
  content: "";
  height: 0;
  clear: both;
  display: block;
}
/* line 589, ../sass/screen.sass */
#search > header h1 {
  display: inline-block;
  margin: -0.4em 0 0.2ex 0;
  font-size: 150%;
}
/* line 593, ../sass/screen.sass */
#search > header p {
  float: right;
  margin-right: 3em;
}
/* line 596, ../sass/screen.sass */
#search > header p span {
  position: relative;
}
/* line 598, ../sass/screen.sass */
#search > header p span em {
  display: none;
  background: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  width: 7em;
  z-index: 10;
  padding: 0.5ex;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  color: white;
  cursor: default;
  border: solid white 2px;
  -moz-box-shadow: black 4px 4px 10px;
  -webkit-box-shadow: black 4px 4px 10px;
  -o-box-shadow: black 4px 4px 10px;
  box-shadow: black 4px 4px 10px;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 12px;
  margin-left: -3.5em;
  margin-bottom: 12px;
  display: block;
  font-size: 90%;
}
/* line 117, ../sass/screen.sass */
#search > header p span em:before {
  content: " ";
  width: 0;
  height: 0;
  border-top: 12px solid black;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
}
/* line 603, ../sass/screen.sass */
#search > form {
  position: relative;
}
/* line 606, ../sass/screen.sass */
#search > form #search_main {
  font-size: 150%;
  display: block;
  position: relative;
  margin-right: 2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 613, ../sass/screen.sass */
#search > form #search_main input {
  /* reset */
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  /* end reset */
  height: 2em;
  font-size: 100%;
  display: inline-block;
}
/* line 626, ../sass/screen.sass */
#search > form #search_main input[type=text] {
  padding: 0 0.5ex;
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px inset;
}
/* line 633, ../sass/screen.sass */
#search > form #search_main input[type=submit] {
  font-size: 200%;
  height: 1em;
  width: 1em;
  overflow: hidden;
  font-family: "IconicStroke";
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -1em;
}
/* line 642, ../sass/screen.sass */
#search #search_filter, #search #search_type {
  display: inline-block;
  margin: 5px 10px 0 0;
  font-size: 110%;
}
/* line 646, ../sass/screen.sass */
#search #search_filter legend, #search #search_type legend {
  display: none;
}
/* line 648, ../sass/screen.sass */
#search #search_filter > label, #search #search_type > label {
  margin-right: 0.5ex;
}
/* line 650, ../sass/screen.sass */
#search #search_filter > label:after, #search #search_type > label:after {
  content: ":";
}
/* line 652, ../sass/screen.sass */
#search #search_filter select, #search #search_type select {
  font-size: 110%;
}
/* line 656, ../sass/screen.sass */
#search #search_type ul {
  display: inline-block;
}
/* line 658, ../sass/screen.sass */
#search #search_type ul li {
  display: inline-block;
}
/* line 660, ../sass/screen.sass */
#search #search_type fieldset {
  display: none;
}
/* line 664, ../sass/screen.sass */
#search #search_type input[type=radio]:checked + label + fieldset {
  display: block;
  font-size: 80%;
  margin-left: 1em;
}
/* line 669, ../sass/screen.sass */
#search #search_type input[type=radio] + label, #search #search_type input[type=checkbox] + label {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  /* line 674, ../sass/screen.sass */
  body > footer, body > section {
    width: 98%;
  }
  /* line 677, ../sass/screen.sass */
  body > header section#main-header {
    float: none;
  }
  /* line 679, ../sass/screen.sass */
  body > header section#main-header h1, body > header section#main-header h2 {
    text-align: center;
    display: inline-block;
  }

  /* line 682, ../sass/screen.sass */
  article.content {
    padding: 10px 10px 5px;
  }
  /* line 683, ../sass/screen.sass */
  article.content:before {
    display: none;
  }
  /* line 687, ../sass/screen.sass */
  article.content > header h1 {
    display: block;
    margin-bottom: 5px;
  }
  /* line 690, ../sass/screen.sass */
  article.content > section {
    clear: both;
    margin: 10px 0 5px 10px;
  }
  /* line 694, ../sass/screen.sass */
  article.content:nth-child(even) {
    xbackground: #f6f6f6;
  }

  /* line 699, ../sass/screen.sass */
  #search > header h1 {
    font-size: 110%;
  }
}
@media screen and (max-width: 500px) {
  /* line 703, ../sass/screen.sass */
  body > header section#main-header {
    text-align: center;
  }
  /* line 705, ../sass/screen.sass */
  body > header section#main-header h1, body > header section#main-header h2 {
    display: block;
  }

  /* line 707, ../sass/screen.sass */
  article.content > section.details > header > ul {
    font-size: 80%;
  }
  /* line 709, ../sass/screen.sass */
  article.content > section.details > header > ul li a:after {
    color: red;
  }
}
