{% extends "personal/base.html" %}
{% block personal_content %}

    {% if sorted_repositories %}

    <p>
        Here are your {{ sorted_repositories|length }} owned/followed repositories, sorted by {{ sort.name }}{% if sort.reverse %} (descending){% else %} (ascending){% endif %}
        [
            <a href="./?sort_by={% if not sort.reverse %}-{% endif %}{{ sort.key }}">reverse</a>
            or sort by :
            {% for key, name in sort.others.items %}
                <a href="./?sort_by={{ key }}">{{ name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        ]
    </p>

        <ul>
            {% for rep in sorted_repositories %}
                <li>
                    <a href="{{ rep.url }}">{{ rep.official_owner }}/<strong style='font-size:larger'>{{ rep.name }}</strong></a>
                    (updated on {{ rep.official_modified }})
                    {% if rep.owner.id == account.id or rep.official_owner == account.slug %}<strong>[ YOURS ! ]</strong>{% endif %}
                    <blockquote>{{ rep.description }}</blockquote>
                </li>
            {% endfor %}
        </ul>

    {% else %}

        <p>You're not watching any repository ! (or it may be not possible to fetch them)</p>

    {% endif %}

{% endblock personal_content %}
