{% extends "personal/base.html" %}
{% block personal_content %}

    {% with repositories=account.repositories.all|dictsort:"name" %}
        {% if repositories %}

            <p>Here are your {{ repositories|length }} watched repositories, sorted by name :</p>

            <ul>
                {% for rep in repositories %}
                    <li>
                        <a href="{{ rep.url }}">{{ rep.official_owner }}/<strong style='font-size:larger'>{{ rep.name }}</strong></a>
                        (updated on {{ rep.official_modified }})
                        <blockquote>{{ rep.description }}</blockquote>
                    </li>
                {% endfor %}
            </ul>

        {% else %}

            <p>You're not watching any repository ! (or it may be not possible to fetch them)</p>

        {% endif %}

    {% endwith %}

{% endblock personal_content %}
