{% if request.user and request.user.is_authenticated %}
<section class="row">
    <div class="span-two-thirds">
        {% if note_form %}
            <section id="note-edit" class="modal">
            <form action="{% url note_save %}" method="POST" class="form-stacked">{% csrf_token %}
                    <header class="modal-header">
                        <h3>{% if note %}Edit your private note{% else %}Add a private note{% endif %}</h3>
                        <a class="close" href=".">&times;</a>
                    </header>
                    <section class="modal-body">{{ note_form.as_p }}</section>
                    <footer class="modal-footer">
                        <input class="btn primary" type="submit" name="submit" value="Save your note" />
                        <a class="btn secondary" href=".">Cancel</a>
                    </footer>
                </form>
            </section>
        {% else %}
            {% if note %}
                <section id="note">
                    Your <strong>private</strong> note <a href="./?edit_note" title="Edit your private note"><small>edit</small></a>
                    <div class="well">{{ note.rendered_content|safe }}</div>
                </section>
            {% else %}
                <section id="note-button">
                    <a href="./?edit_note" class="btn small">Add a <strong>private</strong> note</a>
                </section>
            {% endif %}
        {% endif %}
    </div>
</section>
{% endif %}
