{% if request.user and request.user.is_authenticated %}
<section class="row">
    <div class="span-two-thirds">
        {% if note_form %}
            <section id="note-edit" class="modal">
            <form action="{% url note_save %}" method="POST" id="note-form" class="form-stacked">{% csrf_token %}
                    <header class="modal-header">
                        <a class="close" href=".">&times;</a>
                        <h3>{% if note %}Edit your private note{% else %}Add a private note{% endif %}</h3>
                    </header>
                    <section class="modal-body">{{ note_form.as_p }}</section>
                    <footer class="modal-footer">
                        <input class="btn primary" type="submit" name="submit" value="Save your note" />
                        <a class="btn secondary" href=".">Cancel</a>
                    </footer>
                </form>
                {% if note_delete_form %}
                    <form action="{% url note_delete %}" method="POST" id="note-delete-form">{% csrf_token %}
                        {{ note_delete_form.as_p }}
                        <input class="btn error" type="submit" name="submit" value="Delete your note" />
                    </form>
                {% endif %}
            </section>
        {% else %}
            {% if note %}
                <section id="note">
                    <div class="sticky taped">{{ note.rendered_content|safe }}</div>
                    <a href="./?edit_note" title="Edit your private note (you'll be able to delete it too)"><small>edit</small></a>
                </section>
            {% else %}
                <section id="note-button">
                    <a href="./?edit_note" class="btn small">Add a <strong>private</strong> note</a>
                </section>
            {% endif %}
        {% endif %}
    </div>
</section>
{% endif %}
