{# Repos.io / Copyright Stephane Angel / Creative Commons BY-NC-SA license #}
{% load i18n %}
<div class="pagination">
    <ul>
    {% if current_page.has_previous %}
        <li class="prev"><a href="?{{ current_page.previous_page_number.querystring }}">&larr; {% trans "previous" %}</a></li>
    {% else %}
        <li class="disabled prev"><a href='#'>&larr; {% trans "previous" %}</a></li>
    {% endif %}
    {% for page in current_page.pages %}
        {% if page %}
            {% ifequal page current_page.number %}
                <li class="active"><a href='#'>{{ page }}</a></li>
            {% else %}
                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            <li class="disabled"><a href='#'>...</a></li>
        {% endif %}
    {% endfor %}
    {% if current_page.has_next %}
        <li class="next"><a href="?{{ current_page.next_page_number.querystring }}">{% trans "next" %} &rarr;</a></li>
    {% else %}
        <li class="disabled next"><a href='#'>{% trans "next" %} &rarr;</a></li>
    {% endif %}
</ul>
</div>

