{% load i18n adminmedia%}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANGUAGE_CODE|default:"en-us"}}" xml:lang="{{LANGUAGE_CODE|default:"en-us"}}" {%if LANGUAGE_BIDI%}dir="rtl"{%endif%}>
<head>
<title>Password change</title>
<link rel="stylesheet" type="text/css" href="{%admin_media_prefix %}css/base.css" />
<link rel="stylesheet" type="text/css" href="{%admin_media_prefix %}css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{%admin_media_prefix %}css/ie.css" /><![endif]-->
{%if LANGUAGE_BIDI%}<link rel="stylesheet" type="text/css" href="{%admin_media_prefix %}css/rtl.css" />{%endif%}
<script type="text/javascript">window.__admin_media_prefix__ = "{%filter escapejs %}{%admin_media_prefix %}{%endfilter %}";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="{%if is_popup%}popup {%endif%}">

<!-- Container -->
<div id="container">

    {%if not is_popup%}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name">Django administration</h1>

        </div>
        {%if user.is_active and user.is_staff%}
        <div id="user-tools">
            Welcome,
            <strong>{%filter force_escape %}{%firstof user.first_name user.username %}{%endfilter %}</strong>.
            {%url 'django-admindocs-docroot' as docsroot %}{%if docsroot%}<a href="{{docsroot}}">Documentation</a> / {%endif%} Change password / <a href="../logout/">Log out</a>
        </div>
        {%endif%}
        
    </div>
    <!-- END Header -->
    <div class="breadcrumbs"><a href="../">Home</a> &rsaquo; Password change</div>
    {%endif%}

        {%if messages%}
        <ul class="messagelist">{%for message in messages %}
          <li{%if message.tags%} class="{{message.tags}}"{%endif%}>{{message}}</li>
	{%endfor %}</ul>
        {%endif%}

    <!-- Content -->
    <div id="content" class="colM">
        
        {%if title%}<h1>{{title}}</h1>{%endif%}
        <div id="content-main">

<form action="" method="post">{%csrf_token %}
<div>
{%if form.errors%}
    <p class="errornote">
    {%with form.errors.items|length as counter%}{%if counter > 1%}Please correct the errors below.{%else%}Please correct the error below.{%endif%}{%endwith%}
    </p>
{%endif%}

<h1>Password change</h1>

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<fieldset class="module aligned wide">

<div class="form-row">
    {{form.old_password.errors}}
    <label for="id_old_password" class="required">Old password:</label>{{form.old_password}}
</div>

<div class="form-row">
    {{form.new_password1.errors}}
    <label for="id_new_password1" class="required">New password:</label>{{form.new_password1}}
</div>

<div class="form-row">
{{form.new_password2.errors}}
    <label for="id_new_password2" class="required">Password (again):</label>{{form.new_password2}}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="Change my password" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>


        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
