{% load i18n adminmedia%}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANGUAGE_CODE|default:"en-us"}}" xml:lang="{{LANGUAGE_CODE|default:"en-us"}}" {%if LANGUAGE_BIDI%}dir="rtl"{%endif%}>
<head>
<title>Password reset complete</title>
<link rel="stylesheet" type="text/css" href="{%admin_media_prefix %}css/base.css" />

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{%admin_media_prefix %}css/ie.css" /><![endif]-->
{%if LANGUAGE_BIDI%}<link rel="stylesheet" type="text/css" href="{%admin_media_prefix %}css/rtl.css" />{%endif%}
<script type="text/javascript">window.__admin_media_prefix__ = "{%filter escapejs %}{%admin_media_prefix %}{%endfilter %}";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="{%if is_popup%}popup {%endif%}">

<!-- Container -->
<div id="container">

    {%if not is_popup%}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name">Django administration</h1>

        </div>
        {%if user.is_active and user.is_staff%}
        <div id="user-tools">
            Welcome,
            <strong>{%filter force_escape %}{%firstof user.first_name user.username %}{%endfilter %}</strong>.
            
                {%url 'django-admindocs-docroot' as docsroot %}
                {%if docsroot%}
                    <a href="{{docsroot}}">Documentation</a> /
                {%endif%}
                {%url 'admin:password_change' as password_change_url %}
                {%if password_change_url%}
                    <a href="{{password_change_url}}">
                {%else%}
                    <a href="{{root_path}}password_change/">
                {%endif%}
                Change password</a> /
                {%url 'admin:logout' as logout_url %}
                {%if logout_url%}
                    <a href="{{logout_url}}">
                {%else%}
                    <a href="{{root_path}}logout/">
                {%endif%}
                Log out</a>
            
        </div>
        {%endif%}
        
    </div>
    <!-- END Header -->
    <div class="breadcrumbs"><a href="../../">Home</a> &rsaquo; Password reset</div>
    {%endif%}

        {%if messages%}
        <ul class="messagelist">{%for message in messages %}
          <li{%if message.tags%} class="{{message.tags}}"{%endif%}>{{message}}</li>
	{%endfor %}</ul>
        {%endif%}

    <!-- Content -->
    <div id="content" class="colM">
        
        {%if title%}<h1>{{title}}</h1>{%endif%}
        

<h1>Password reset complete</h1>

<p>Your password has been set.  You may go ahead and log in now.</p>

<p><a href="{{login_url}}">Log in</a></p>


        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
