{% extends "core/accounts/base.html" %}
{% load private_tags %}
{% load reposio_core %}
{% block account_content %}

    {% if  sorted_repositories %}
    {% prepare_notes sorted_repositories %}

    <div>
        <form id="list-filter" method="get" action=".">
            <input type="text" name="q" class="medium" value="{{ query }}" />
            <button class="btn" type="submit">Filter</button>
            {% if sort.key %}<input type="hidden" name="sort_by" value="{% if sort.reverse %}-{% endif %}{{ sort.key }}" />{% endif %}
            {% if owner_only %}<input type="hidden" name="owner-only" value="y" />{% endif %}
            {% if hide_forks %}<input type="hidden" name="hide-forks" value="y" />{% endif %}
            {% if distinct %}<input type="hidden" name="distinct" value="y" />{% endif %}
        </form>
        {% if account.backend|supports:'repository_owner' %}
            {% if owner_only %}
                <a href=".?sort_by={% if sort.reverse %}-{% endif %}{{ sort.key }}{% if hide_forks %}&amp;hide-forks=y{% endif %}{% if distinct %}&amp;distinct=y{% endif %}{% if query %}&amp;q={{ query }}{% endif %}" class="btn error">Show ones from all owners</a>
            {% else %}
                <a href=".?sort_by={% if sort.reverse %}-{% endif %}{{ sort.key }}&amp;owner-only=y{% if hide_forks %}&amp;hide-forks=y{% endif %}{% if distinct %}&amp;distinct=y{% endif %}{% if query %}&amp;q={{ query }}{% endif %}" class="btn success">See only ones owned by {{ account.slug }}</a>
            {% endif %}
        {% endif %}
        {% if account.backend|supports:'repository_parent_fork' %}
            {% if hide_forks %}
                <a href=".?sort_by={% if sort.reverse %}-{% endif %}{{ sort.key }}{% if owner_only %}&amp;owner-only=y{% endif %}{% if distinct %}&amp;distinct=y{% endif %}{% if query %}&amp;q={{ query }}{% endif %}" class="btn error">Show forks</a>
            {% else %}
                <a href=".?sort_by={% if sort.reverse %}-{% endif %}{{ sort.key }}{% if owner_only %}&amp;owner-only=y{% endif %}&amp;hide-forks=y{% if distinct %}&amp;distinct=y{% endif %}{% if query %}&amp;q={{ query }}{% endif %}" class="btn success">Hide forks</a>
            {% endif %}
        {% endif %}
        {% if distinct %}
            <a href=".?sort_by={% if sort.reverse %}-{% endif %}{{ sort.key }}{% if owner_only %}&amp;owner-only=y{% endif %}{% if hide_forks %}&amp;hide-forks=y{% endif %}{% if query %}&amp;q={{ query }}{% endif %}" class="btn error">Show duplicates</a>
        {% else %}
            <a href=".?sort_by={% if sort.reverse %}-{% endif %}{{ sort.key }}{% if owner_only %}&amp;owner-only=y{% endif %}{% if hide_forks %}&amp;hide-forks=y{% endif %}&amp;distinct=y{% if query %}&amp;q={{ query }}{% endif %}" class="btn success">Hide duplicates</a>
        {% endif %}
    </div>
    <p>{% block repositories_intro %}{% endblock %}</p>

    <table class='zebra-striped repositories with_extras'>
        <thead>
            <tr>
                {% include "core/sort_th.html" with color="orange" key="name" name="Name" param1_key="owner-only" param1_value=owner_only param2_key="hide-forks" param2_value=hide_forks param3_key="distinct" param3_value=distinct param4_key="q" param4_value=query %}
                {% if account.backend|supports:'repository_owner' and not owner_only  %}
                    {% include "core/sort_th.html" with color="blue" key="owner" name="Owner" param1_key="owner-only" param1_value=owner_only param2_key="hide-forks" param2_value=hide_forks param3_key="distinct" param3_value=distinct param4_key="q" param4_value=query %}
                {% endif %}
                {% include "core/sort_th.html" with color="green" key="updated" name="Updated" default_reverse=1 param1_key="owner-only" param1_value=owner_only param2_key="hide-forks" param2_value=hide_forks param3_key="distinct" param3_value=distinct param4_key="q" param4_value=query %}
            </tr>
        </thead>
        <tbody>
            {% for repository in sorted_repositories %}
            <tr>
                <td>
                    {% include "core/list_extra.html" with obj=repository %}
                    {% include "core/repositories/logo.html" %}</strong>
                    <strong>{% include "core/repositories/link.html" with no_backend=1 no_owner=1 %}</strong>
                    {% if repository.backend|supports:"repository_parent_fork" and repository.is_fork %}
                    <small>
                        <span class="label warning">Fork</span>
                        {% if repository.parent_fork %}
                            of
                            {% include "core/repositories/link.html" with no_backend=1 no_owner=1 repository=repository.parent_fork %}
                            by
                            {% include "core/accounts/link.html" with no_backend=1 account=repository.parent_fork.owner %}
                        {% endif %}
                    </small>
                    {% endif %}
                    {% if repository.distinct_others %}
                        <small title="{{ repository.distinct_others|join:', '}}"><em>(and {{ repository.distinct_others|length }} more)</em></small>
                    {% endif %}
                    {% include "core/score.html" with obj=repository max_width=200 ratio=2 %}
                    {% if repository.description %}<blockquote>{{ repository.description }}</blockquote>{% endif %}
                </td>
                {% if account.backend|supports:'repository_owner' and not owner_only  %}
                    <td>
                        {% include "core/accounts/avatar.html" with account=repository.owner size=16 %}
                        {% include "core/accounts/link.html" with no_backend=1 account=repository.owner %}
                        {% if repository.distinct_others %}
                            <br /><small><em>(and {{ repository.distinct_others|length }} more)</em></small>
                        {% endif %}
                    </td>
                {% endif %}
                <td>{% if repository.official_modified %}{{ repository.official_modified }}{% else %}-{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>{% block no_repositories %}{% endblock %}</p>
    {% endif %}

{% endblock account_content %}
