{# Repos.io / Copyright Stephane Angel / Creative Commons BY-NC-SA license #}
{% extends "core/accounts/base.html" %}
{% load reposio_core %}

{% block account_content %}

{% if account.deleted %}
    <p class="alert-message error">This account is deleted, it's kept here because you were interested in it.</p>
{% else %}

<div class="row">

    <section class="span11">

        <dl>
            {% if account.backend|supports:'user_followers' %}
                <dt>
                    {% if account.followers_modified %}
                        <a href="{{ account.get_followers_url }}">{{ account.followers_count|default:0 }} followers</a> <small>(updated on {{ account.followers_modified }})</small>
                    {% else %}
                    {{ account.official_followers_count|default:0 }} followers <small>(related must be fetched{% if not user.is_authenticated %} by an authenticated user {% endif %} before display)</small>
                    {% endif %}
                </dt>
                <dd>Followers are people who are following {{ account.slug }} to know about what he's doing on {{ account.backend }}</dd>
            {% endif %}

            {% if account.backend|supports:'user_following' %}
                <dt>
                    {% if account.following_modified %}
                        <a href="{{ account.get_following_url }}">{{ account.following_count|default:0 }} following</a> <small>(updated on {{ account.following_modified }})</small>
                    {% else %}
                        {{ account.official_following_count|default:0 }} following <small>(related must be fetched{% if not user.is_authenticated %} by an authenticated user {% endif %} before display)</small>
                    {% endif %}
                </dt>
                <dd>Following are people that {{ account.slug }} follows to know what they are doing on {{ account.backend }}</dd>
            {% endif %}


            {% if account.backend|supports:'user_repositories' %}
                <dt>
                    {% if account.repositories_modified %}
                        <a href="{{ account.get_repositories_url }}">{{ account.repositories_count|default:0 }} repositories</a> <small>(updated on {{ account.repositories_modified }})</small>
                    {% else %}
                        unknown number repositories <small>(related must be fetched{% if not user.is_authenticated %} by an authenticated user {% endif %} before display)</small>
                    {% endif %}
                </dt>
                <dd>These repositories are the ones {{ account.slug }} owns, or follows (or likes, stars...) on {{ account.backend }}.</dd>
            {% endif %}


            {% if account.backend|supports:'repository_contributors' %}
                <dt>
                    {% if account.contributing_count or account.contributing_count == 0 %}
                        <a href="{{ account.get_contributing_url }}">{{ account.contributing_count|default:0 }} (or more) contributed repositories</a>
                    {% else %}
                        unknown number of contributed repositories
                    {% endif %}
                </dt>
                <dd>These repositories are the ones to which {{ account.slug }} contributed on {{ account.backend }} (but there may be more).</dd>
            {% endif %}

        </dl>

    </section>

    <section class="span5">
        <a class="btn primary" href="{{ account.url }}"><img alt="{{ account.backend }}" src="{{ STATIC_URL }}img/favicon_{{ account.backend }}.png" /> Go to the {{ account.backend }} page</a>
    </section>

</div>

{% endif %}

{% endblock %}
