{% extends "core/accounts/base.html" %}

{% block account_content %}

    {% if account.repositories_modified %}

        {% if sorted_repositories %}

        <p>Here are the {{ sorted_repositories|length }} repositories followed/owned by {{ account.slug }}: <small>(last fetch on {{ account.repositories_modified }})</small></p>

        <table class='zebra-striped repositories'>
            <thead>
                <tr>
                    {% include "core/sort_th.html" with color="orange" key="name" name="Name" %}
                    {% if with_owners %}
                        {% include "core/sort_th.html" with color="blue" key="owner" name="Owner" %}
                    {% endif %}
                    {% include "core/sort_th.html" with color="green" key="updated" name="Update" %}
                </tr>
            </thead>
            <tbody>
                {% for repository in sorted_repositories %}
                <tr>
                    <td>
                        {% include "core/repositories/logo.html" %}</strong>
                        <strong>{% include "core/repositories/link.html" with no_backend=1 no_owner=1 %}</strong>
                        {% if repository.description %}<blockquote>{{ repository.description }}</blockquote>{% endif %}
                    </td>
                    {% if with_owners %}
                        <td>
                            {% include "core/accounts/avatar.html" with account=repository.owner size=16 %}
                            {% include "core/accounts/link.html" with no_backend=1 account=repository.owner %}
                        </td>
                    {% endif %}
                    <td>{% if repository.official_modified %}{{ repository.official_modified }}{% else %}-{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
            <p>{{ account.slug }} doesn't watch/own any repository</p>
        {% endif %}

    {% else %}
        <p>We don't know if {{ account.slug }} watches/owns some repositories, they need to be fetched{% if not user.is_authenticated %} by an authenticated user{% endif %}</p>
    {% endif %}

{% endblock account_content %}
