{% extends 'dashboard/base.html' %}
{% load private_tags utils_tags dashboard_tags %}

{% block dashboard_content %}

    {% if all_repositories %}
        <div>
            <form id="list-filter" method="get" action=".">
                <input type="text" name="q" class="medium" value="{{ query }}" />
                <button class="btn" type="submit">Filter</button>
                {% if sort.key %}<input type="hidden" name="sort_by" value="{% if sort.reverse %}-{% endif %}{{ sort.key }}" />{% endif %}
                {% if owner_only %}<input type="hidden" name="owner-only" value="y" />{% endif %}
                {% if hide_forks %}<input type="hidden" name="hide-forks" value="y" />{% endif %}
                {% if distinct %}<input type="hidden" name="distinct" value="y" />{% endif %}
            </form>
            {% if owner_only %}
                <a href=".?sort_by={% if sort.reverse %}-{% endif %}{{ sort.key }}{% if hide_forks %}&amp;hide-forks=y{% endif %}{% if distinct %}&amp;distinct=y{% endif %}{% if query %}&amp;q={{ query }}{% endif %}" class="btn error active">Show ones from all owners</a>
            {% else %}
                <a href=".?sort_by={% if sort.reverse %}-{% endif %}{{ sort.key }}&amp;owner-only=y{% if hide_forks %}&amp;hide-forks=y{% endif %}{% if distinct %}&amp;distinct=y{% endif %}{% if query %}&amp;q={{ query }}{% endif %}" class="btn success">See only yours</a>
            {% endif %}
            {% if hide_forks %}
                <a href=".?sort_by={% if sort.reverse %}-{% endif %}{{ sort.key }}{% if owner_only %}&amp;owner-only=y{% endif %}{% if distinct %}&amp;distinct=y{% endif %}{% if query %}&amp;q={{ query }}{% endif %}" class="btn error active">Show forks</a>
            {% else %}
                <a href=".?sort_by={% if sort.reverse %}-{% endif %}{{ sort.key }}{% if owner_only %}&amp;owner-only=y{% endif %}&amp;hide-forks=y{% if distinct %}&amp;distinct=y{% endif %}{% if query %}&amp;q={{ query }}{% endif %}" class="btn success">Hide forks</a>
            {% endif %}
        {% if distinct %}
            <a href=".?sort_by={% if sort.reverse %}-{% endif %}{{ sort.key }}{% if owner_only %}&amp;owner-only=y{% endif %}{% if hide_forks %}&amp;hide-forks=y{% endif %}{% if query %}&amp;q={{ query }}{% endif %}" class="btn error active">Show duplicates</a>
        {% else %}
            <a href=".?sort_by={% if sort.reverse %}-{% endif %}{{ sort.key }}{% if owner_only %}&amp;owner-only=y{% endif %}{% if hide_forks %}&amp;hide-forks=y{% endif %}&amp;distinct=y{% if query %}&amp;q={{ query }}{% endif %}" class="btn success">Hide duplicates</a>
        {% endif %}
        </div>
        <p>{% block repositories_intro %}{% endblock %}</p>

        {% with user_accounts_by_id=accounts user_repositories=all_repositories|distinctify:"current_user_account_id" %}
            {% prepare_private user_repositories %}

            <table class='zebra-striped repositories with_extras'>
                <thead>
                    <tr>
                        {% with param1_key="owner-only" param1_value=owner_only param2_key="hide-forks" param2_value=hide_forks param3_key="distinct" param3_value=distinct param4_key="q" param4_value=query %}
                            {% include "core/repositories/sort_th_name.html" %}
                            {% include "core/repositories/sort_th_owner.html" %}
                            {% include "core/repositories/sort_th_updated.html" %}
                        {% endwith %}
                        {% if user_accounts_by_id|length > 1 %}
                            <th>Your account(s)</th>
                        {% endif %}
                        {% include "core/th_extra.html" %}
                    </tr>
                </thead>
                <tbody>
                    {% for repository in user_repositories %}
                    <tr>
                        <td>
                            {% include "core/repositories/main_repository_cell.html" %}
                        </td>
                        <td>
                            {% include "core/accounts/owner_cell.html" %}
                        </td>
                        <td>
                            {% include "core/repositories/date_modified_cell.html" %}
                        </td>
                        {% if user_accounts_by_id|length > 1 %}
                            <td class="accounts">
                                {% if repository.current_user_account_id_list %}
                                    {% for user_account_id in repository.current_user_account_id_list %}
                                        {% with account=user_accounts_by_id|dict_get:user_account_id %}
                                        <div>
                                            {% include "core/accounts/avatar_small.html" %}
                                            {% include "core/accounts/link_no_backend.html" %}
                                        </div>
                                        {% endwith %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endif %}
                        {% include "core/repositories/list_extra.html" %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endwith %}

    {% else %}
        <p>{% block no_repositories %}{% endblock %}</p>
    {% endif %}

{% endblock %}
