{% load tagging_tags %}
{% prepare_public_tags objects %}
<table class='zebra-striped accounts with_extras'>
    <thead>
        <tr>
            {% include "core/accounts/sort_th_name.html" %}
            <th class="green">Links</th>
            {% with key="note" name="Note date" default_reverse=1 %}{% include "core/sort_th.html" %}{% endwith %}
            {% include "core/th_extra.html" %}
        </tr>
    </thead>
    <tbody>
        {% for account in objects %}
        <tr>
            <td>
                {% include "core/accounts/main_account_cell.html" %}
            </td>
            <td>
                {% include "core/accounts/links.html" %}
            </td>
            <td>{{ account.current_user_note_modified }}</td>
            {% include "core/accounts/list_extra.html" %}
        </tr>
        {% endfor %}
    </tbody>
</table>


