<table class='zebra-striped repositories with_extras'>
    <thead>
        <tr>
            {% include "core/sort_th.html" with color="orange" key="name" name="Name" %}
            {% include "core/sort_th.html" with color="blue" key="owner" name="Owner" %}
            {% include "core/sort_th.html" with color="green" key="updated" name="Updated" %}
            {% include "core/sort_th.html" with key="note" name="Note date" default_reverse=True %}
        </tr>
    </thead>
    <tbody>
        {% for repository in objects %}
        <tr>
            <td>
                {% include "core/repositories/list_extra.html" with obj=repository %}
                {% include "core/repositories/logo.html" %}</strong>
                <strong>{% include "core/repositories/link.html" with no_backend=1 no_owner=1 %}</strong>
                {% if repository.is_fork %}
                <small>
                    <span class="label warning">Fork</span>
                    {% if repository.parent_fork %}
                        of
                        {% include "core/repositories/link.html" with no_backend=1 no_owner=1 repository=repository.parent_fork %}
                        by
                        {% include "core/accounts/link.html" with no_backend=1 account=repository.parent_fork.owner %}
                    {% endif %}
                </small>
                {% endif %}
                {% include "core/score.html" with obj=repository max_width=200 ratio=2 %}
                {% if repository.description %}<blockquote>{{ repository.description }}</blockquote>{% endif %}
            </td>
            <td>
                {% include "core/accounts/avatar.html" with account=repository.owner size=16 %}
                {% include "core/accounts/link.html" with no_backend=1 account=repository.owner %}
            </td>
            <td>{% if repository.official_modified %}{{ repository.official_modified }}{% else %}-{% endif %}</td>
            <td>{{ repository.current_user_note_modified }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


