{# Repos.io / Copyright Stephane Angel / Creative Commons BY-NC-SA license #}
{% extends 'dashboard/base.html' %}
{% load private_tags %}
{% block title %}Your tags on {% endblock %}

{% block dashboard_content %}

<ul class="pills">
    <li{% if obj_type == 'repositories' %} class="active"{% endif %}><a href="{% url dashboard_tags obj_type="repositories" %}">Tags for repositories</a></li>
    <li{% if obj_type == 'accounts' %} class="active"{% endif %}><a href="{% url dashboard_tags obj_type="accounts" %}">Tags for people</a></li>
</ul>

{% with tags as all_tags %}
    {% if all_tags %}
        Filter with :
        <ul class="tags unstyled">
            <li><a href="." class="label success{% if not tag_filter %} current{% endif %}">All tags</a></li>
            {% for tag in all_tags.special_used %}
                <li><a href=".?tag={{ tag.slug }}" class="label warning{% if tag_filter == tag.slug %} current{% endif %}" title="{% for obj in tag.objects %}{{ obj }}{% if not forloop.last %}, {% endif %}{% endfor %}">{{ tag.name }}<small> ({{ tag.objects|length }})</small></a></li>
            {% endfor %}
            {% for tag in all_tags.normal %}
                <li><a href=".?tag={{ tag.slug }}" class="label success{% if tag_filter == tag.slug %} current{% endif %}" title="{% for obj in tag.objects %}{{ obj }}{% if not forloop.last %}, {% endif %}{% endfor %}">{{ tag.name }}<small> ({{ tag.objects|length }})</small></a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% if page.paginator.count %}
    {% prepare_private page.object_list %}
    {% if obj_type == "accounts" %}
        {% include "dashboard/tagged_accounts.html" %}
    {% else %}
        {% include "dashboard/tagged_repositories.html" %}
    {% endif %}
    {% if page.has_previous or page.has_next %}
        <div>{{ page.render }}</div>
    {% endif %}
{% else %}
    <p><em>You haven't set any tags !</em></p>
{% endif %}

{% endblock %}

