{% extends "core/base.html" %}

<p>You searched for <strong>{{ identifier }}</strong>.</p>

{% if count.total %}

    <p>We found {{ count.total }} matching elements ({{ count.accounts }} accounts and {{ count.repositories }} repositories }} : </p>

    {% if count.accounts %}
    <p>Accounts : </p>
    <ul>
        {% for account in accounts %}
            <a href="{{ account.get_absolute_url }}">{{ account.name }} @ {{ account.backend }}</a>
        {% endfor %}
    </ul>
    {% endif %}

    {% if count.repositories %}
    <p>Repositories : </p>
    <ul>
        {% for repository in repositories %}
            <a href="{{ repository.get_absolute_url }}">{{ repository.project }} @ {{ repository.backend }}</a>
        {% endfor %}
    </ul>
    {% endif %}

{% else %}

    <p>We found nothing matching this...</p>

{% endif %}
