{# Repos.io / Copyright Stephane Angel / Creative Commons BY-NC-SA license #}
{% if request.user and request.user.is_authenticated %}
    {% if for_related and obj.fetch_related_allowed and obj.last_fetch or not for_related and obj.fetch_allowed %}
        <form class='fetch-form' action="{% url fetch %}" method="post">{% csrf_token %}
            <input type="hidden" name="type" value="{{ fetch_type }}" />
            <input type="hidden" name="id" value="{{ obj.id }}" />
            <input type="hidden" name="backend" value="{{ obj.backend }}" />
            {% if fetch_type == 'account' %}
                <input type="hidden" name="slug" value="{{ obj.slug }}" />
            {% else %}
                <input type="hidden" name="project" value="{{ obj.project }}" />
            {% endif %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
            {% if for_related %}
                <input type="hidden" name="related" value="1" />
            {% endif %}
            <button class="btn{% if for_related and not obj.last_fetch_related or not for_related and not obj.last_fetch or not for_related and fetch_type == 'repository' and is_fork and not obj.fork %} primary{% endif %}" type='submit' name='submit' value='submit' title="It will fetch {% if for_related %}followers, {% if fetch_type == 'account' %}following and repositories{% else %}contributors and readme{% endif %}{% else %}fresh data{% endif %} from {{ obj.backend }}">
                <strong>Fetch {% if for_related %}related{% else %}{{ fetch_type }}{% endif %} now</strong>
                <em>(Can take {% if for_related %}many minutes !{% else %}a few seconds{% endif %})</em>
            </button>
        </form>
    {% endif %}
{% endif %}
