{% if obj.has_note or obj.has_private_tags %}
<div class="extra rel_popover" data-popover-title="Your private informations" title="You have private informations !">
    <a href="{{ obj.get_absolute_url }}"><img src="{{ STATIC_URL }}img/sticky_note.png" alt="Private note" /></a>
    <div><div class="extra_container{% if obj.has_note %} with_note {% endif %}{% if obj.has_private_tags %} with_tags{% endif %}">
        {% if obj.has_private_tags %}
            {% include "core/tags.html" with tags=obj.private_tags type_design="success" %}
        {% endif %}
        {% if obj.has_note %}
            {{ obj.rendered_note|safe }}
        {% endif %}
    </div></div>
</div>
{% endif %}

