{% extends 'search/base.html' %}
{% load user_notes_tags %}
{% block title %}Search for "{{ query }}" in accounts on {% endblock %}
{% block search_content %}

    {% if query %}

        {% if page.paginator.count %}
            {% prepare_notes page.object_list %}
            <h2>{{ page.paginator.count }} results for <em>{{ query }}</em></h2>
            <table class='zebra-striped accounts with_extras'>
                <thead>
                    <tr>
                        {% if page.paginator.count == 1 %}
                            {% include "core/sort_th.html" with color="orange" key="name" name="Name" param1_key="q" param1_value=query %}
                            <th>Links</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for account in page.object_list %}
                        <tr>
                            <td>
                                {% include "core/list_extra.html" with obj=account %}
                                {{ account.renderer_main|safe }}
                                {% include "core/score.html" with obj=account score=account.internal_score %}
                            </td>
                            <td>
                                {{ account.renderer_links|safe }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {%else %}
            <h2>No results found for <em>{{ query }}</em></h2>
        {% endif %}

        {% if page.has_previous or page.has_next %}
            <div>{{ page.render }}</div>
        {% endif %}

    {% endif %}

{% endblock %}


