{% extends 'search/base.html' %}
{% load private_tags tagging_tags %}
{% block title %}Search for {% if query %}"{{ query }}" in {% endif %}accounts on {% endblock %}
{% block search_content %}

    {% if query %}

        {% if page.paginator.count %}
            {% prepare_private page.object_list %}
            {% prepare_public_tags page.object_list %}
            <h2>{{ page.paginator.count }} results for <em>{{ query }}</em></h2>
            <table class='zebra-striped accounts{% if user.id %} with_extras{% endif %}'>
                <thead>
                    <tr>
                        {% with param1_key="q" param1_value=query %}{% include "core/accounts/sort_th_name.html" %}{% endwith %}
                        <th>Links</th>
                        {% include "core/th_extra.html" %}
                    </tr>
                </thead>
                <tbody>
                    {% for account in page.object_list %}
                        <tr>
                            <td>
                                {% include "core/accounts/list_extra.html" %}
                                {{ account.renderer_main|safe }}
                                {% with score=account.internal_score %}{% include "core/accounts/score.html" %}{% endwith %}
                                {% include "core/accounts/tags.html" %}
                            </td>
                            <td>
                                {{ account.renderer_links|safe }}
                            </td>
                            {% include "core/accounts/list_extra.html" %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {%else %}
            <h2 class="no-results">No results found for <em>{{ query }}</em></h2>
        {% endif %}

        {% if page.has_previous or page.has_next %}
            <div>{{ page.render }}</div>
        {% endif %}

    {% else %}

        <p>Please enter a search query in the field above.</p>

    {% endif %}

{% endblock %}


