{% extends 'search/base.html' %}

{% block search_suggestions %}
    {% if query %}
        <p>
            Suggestions :
            {% for search in most_popular|slice:":5" %}
                <a href="{{ url_search }}?q={{ search.user_query }}">{{ search.user_query }}</a>
                {% if not forloop.last %} / {% endif %}
            {% endfor %}
            <span> - <a href="{{ url_search }}">En voir plus</a></span>
        </p>
    {% endif %}
{% endblock %}

{% block search_content %}

    {% if query %}

        {% if page.paginator.count %}
            <h2>{{ page.paginator.count }} results for <em>{{ query }}</em></h2>
            <table class='zebra-striped repositories'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for repository in page.object_list %}
                        {{ repository.renderer|safe }}
                    {% endfor %}
                </tbody>
            </table>

        {%else %}
            <h2>No results found for <em>{{ query }}</em></h2>
        {% endif %}

        {% if page.has_previous or page.has_next %}
            <div>{{ page.render }}</div>
        {% endif %}
    {% else %}

        <div class="row">

            <section class="span-one-third">
                <h3>Most popular</h3>
                <ul class="unstyled">
                {% for search in most_popular %}
                    <li>
                        <a href="{{ url_search }}?q={{ search.user_query }}">{{ search.user_query }}</a>
                        <small>/
                            {% if forloop.first %}searched {{ search.times_seen }} times{% else %}{{ search.times_seen }}{% endif %}
                        </small>
                    </li>
                {% endfor %}
                </ul>
            </section>

                <section class="span-one-third">
                <h3>Most recent</h3>
                <ul class="unstyled">
                {% for search in most_recent %}
                    <li>
                        <a href="{{ url_search }}?q={{ search.user_query }}">{{ search.user_query }}</a>
                        <small>/
                            {% if forloop.first %}searched {{ search.times_seen }} times{% else %}{{ search.times_seen }}{% endif %}
                        </small>
                    </li>
                {% endfor %}
                </ul>
            </section>

                <section class="span-one-third">
                {% if user.is_authenticated %}
                <h3>Your most recent</h3>
                <ul class="unstyled">
                {% for search in user_most_recent %}
                    <li>
                        <a href="{{ url_search }}?q={{ search.user_query }}">{{ search.user_query }}</a>
                        <small>/
                            {% if forloop.first %}searched {{ search.times_seen }} times{% else %}{{ search.times_seen }}{% endif %}
                        </small>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
            </section>

        </div>

    {% endif %}

{% endblock %}

